### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.vs/BTSS.Rating.slnx
/BTSS.Rating.Api/obj/Debug/net10.0/BTSS.Rating.Api.AssemblyInfo.cs
/BTSS.Rating.Api/obj/Debug/net10.0/BTSS.Rating.Api.AssemblyInfoInputs.cache
/BTSS.Rating.Application/obj/Debug/net10.0/BTSS.Rating.Application.AssemblyInfo.cs
/BTSS.Rating.Application/obj/Debug/net10.0/BTSS.Rating.Application.AssemblyInfoInputs.cache
/BTSS.Rating.Admin/obj/Debug/net10.0/BTSS.Rating.Admin.AssemblyInfo.cs
/BTSS.Rating.Admin/obj/Debug/net10.0/rpswa.dswa.cache.json
/BTSS.Rating.Admin/obj/Debug/net10.0/BTSS.Rating.Admin.AssemblyInfoInputs.cache
/BTSS.Rating.Domain/obj/Debug/net10.0/BTSS.Rating.Domain.AssemblyInfo.cs
/BTSS.Rating.Domain/obj/Debug/net10.0/BTSS.Rating.Domain.AssemblyInfoInputs.cache
/BTSS.Rating.Infrastructure/obj/Debug/net10.0/BTSS.Rating.Infrastructure.AssemblyInfo.cs
/BTSS.Rating.Infrastructure/obj/Debug/net10.0/BTSS.Rating.Infrastructure.AssemblyInfoInputs.cache
/BTSS.Rating.Shared/obj/Debug/net10.0/BTSS.Rating.Shared.AssemblyInfo.cs
/BTSS.Rating.Shared/obj/Debug/net10.0/BTSS.Rating.Shared.AssemblyInfoInputs.cache
/BTSS.Rating.Tests/bin/Debug/net10.0/.msCoverageSourceRootsMapping_BTSS.Rating.Tests
/BTSS.Rating.Tests/bin/Debug/net10.0/CoverletSourceRootsMapping_BTSS.Rating.Tests
/BTSS.Rating.Tests/obj/Debug/net10.0/BTSS.Rating.Tests.AssemblyInfo.cs
/BTSS.Rating.Tests/obj/Debug/net10.0/BTSS.Rating.Tests.AssemblyInfoInputs.cache
