USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_RebuildContractLaneEligibility]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   Rebuild eligibility snapshot for a contract version
   ============================================================ */
CREATE   PROCEDURE [rating].[usp_RebuildContractLaneEligibility]
(
    @ContractVersionId BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Mode NVARCHAR(10);

    SELECT @Mode = c.Mode
    FROM rating.ContractVersions cv
    JOIN rating.Contracts c ON c.ContractId = cv.ContractId
    WHERE cv.ContractVersionId = @ContractVersionId;

    IF @Mode IS NULL
    BEGIN
        RAISERROR('ContractVersionId not found.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRAN;

        /* Clear existing snapshot for this version */
        DELETE FROM rating.ContractLaneEligibility
        WHERE ContractVersionId = @ContractVersionId;

        /* Insert snapshot rows based on mode rate tables */
        IF @Mode = 'LTL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginZoneId, DestZoneId,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'LTL',
                r.OriginZoneId,
                r.DestZoneId,
                NULL, NULL
            FROM rating.LtlBaseRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'FTL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginRegionId, DestRegionId, EquipmentType,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'FTL',
                r.OriginRegionId,
                r.DestRegionId,
                r.EquipmentType,
                NULL, NULL
            FROM rating.FtlLaneRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'FCL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginPort, DestPort, ContainerType,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'FCL',
                r.OriginPort,
                r.DestPort,
                r.ContainerType,
                NULL, NULL
            FROM rating.FclContainerRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'LCL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginPort, DestPort,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'LCL',
                r.OriginPort,
                r.DestPort,
                NULL, NULL
            FROM rating.LclRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;

        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('RebuildContractLaneEligibility failed: %s', 16, 1, @Err);
        RETURN;
    END CATCH
END
GO
