USE [RatingDb]
GO
/****** Object:  Table [rating].[FtlLaneRates]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[FtlLaneRates](
	[FtlLaneRateId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[OriginRegionId] [int] NOT NULL,
	[DestRegionId] [int] NOT NULL,
	[EquipmentType] [nvarchar](30) NOT NULL,
	[RateType] [nvarchar](20) NOT NULL,
	[RateValue] [decimal](18, 6) NOT NULL,
	[MinimumCharge] [decimal](18, 6) NULL,
	[IncludedStops] [int] NOT NULL,
	[ConstraintsJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_FtlLaneRates] PRIMARY KEY CLUSTERED 
(
	[FtlLaneRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FtlLaneRates_Lookup]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_FtlLaneRates_Lookup] ON [rating].[FtlLaneRates]
(
	[ContractVersionId] ASC,
	[OriginRegionId] ASC,
	[DestRegionId] ASC,
	[EquipmentType] ASC
)
INCLUDE([RateType],[RateValue],[MinimumCharge],[IncludedStops]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[FtlLaneRates] ADD  CONSTRAINT [DF_FtlLaneRates_IncludedStops]  DEFAULT ((2)) FOR [IncludedStops]
GO
ALTER TABLE [rating].[FtlLaneRates]  WITH CHECK ADD  CONSTRAINT [FK_FtlLaneRates_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[FtlLaneRates] CHECK CONSTRAINT [FK_FtlLaneRates_ContractVersions]
GO
ALTER TABLE [rating].[FtlLaneRates]  WITH CHECK ADD  CONSTRAINT [CK_FtlLaneRates_IncludedStops] CHECK  (([IncludedStops]>=(2)))
GO
ALTER TABLE [rating].[FtlLaneRates] CHECK CONSTRAINT [CK_FtlLaneRates_IncludedStops]
GO
ALTER TABLE [rating].[FtlLaneRates]  WITH CHECK ADD  CONSTRAINT [CK_FtlLaneRates_RateType] CHECK  (([RateType]='PER_LOAD' OR [RateType]='PER_MILE'))
GO
ALTER TABLE [rating].[FtlLaneRates] CHECK CONSTRAINT [CK_FtlLaneRates_RateType]
GO
