USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_GetCacheNamespaceVersionsForQuote]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   Single-call namespace fetch:
   Returns candidate + rate namespace versions for:
   - Account scope (CandidatesNS:{AccountId}:{Mode}, RatesNS:{AccountId}:{Mode})
   - Public scope  (CandidatesNS:PUBLIC:{Mode}, RatesNS:PUBLIC:{Mode})
   Auto-creates missing rows at VersionNo=1
   ============================================================ */

CREATE   PROCEDURE [rating].[usp_GetCacheNamespaceVersionsForQuote]
(
    @AccountId BIGINT,
    @Mode      NVARCHAR(10)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ModeU NVARCHAR(10) = UPPER(LTRIM(RTRIM(@Mode)));

    IF @ModeU NOT IN ('LTL','FTL','FCL','LCL')
    BEGIN
        RAISERROR('Invalid mode.', 16, 1);
        RETURN;
    END

    DECLARE @CandAcctKey NVARCHAR(200) = CONCAT(N'CandidatesNS:', CONVERT(NVARCHAR(20), @AccountId), N':', @ModeU);
    DECLARE @RateAcctKey NVARCHAR(200) = CONCAT(N'RatesNS:',      CONVERT(NVARCHAR(20), @AccountId), N':', @ModeU);
    DECLARE @CandPubKey  NVARCHAR(200) = CONCAT(N'CandidatesNS:PUBLIC:', @ModeU);
    DECLARE @RatePubKey  NVARCHAR(200) = CONCAT(N'RatesNS:PUBLIC:',      @ModeU);

    BEGIN TRY
        BEGIN TRAN;

        -- Create any missing rows at VersionNo=1 (UPDLOCK/HOLDLOCK prevents races)
        IF NOT EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @CandAcctKey)
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@CandAcctKey, 1, SYSUTCDATETIME(), 'SYSTEM', 'Auto-created');

        IF NOT EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @RateAcctKey)
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@RateAcctKey, 1, SYSUTCDATETIME(), 'SYSTEM', 'Auto-created');

        IF NOT EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @CandPubKey)
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@CandPubKey, 1, SYSUTCDATETIME(), 'SYSTEM', 'Auto-created');

        IF NOT EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @RatePubKey)
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@RatePubKey, 1, SYSUTCDATETIME(), 'SYSTEM', 'Auto-created');

        -- Return all 4 versions in a single row
        SELECT
            @AccountId AS AccountId,
            @ModeU     AS Mode,

            ca.VersionNo AS CandidatesAccountVersion,
            ra.VersionNo AS RatesAccountVersion,
            cp.VersionNo AS CandidatesPublicVersion,
            rp.VersionNo AS RatesPublicVersion,

            ca.UpdatedAt AS CandidatesAccountUpdatedAt,
            ra.UpdatedAt AS RatesAccountUpdatedAt,
            cp.UpdatedAt AS CandidatesPublicUpdatedAt,
            rp.UpdatedAt AS RatesPublicUpdatedAt
        FROM rating.CacheNamespaces ca
        JOIN rating.CacheNamespaces ra ON ra.NamespaceKey = @RateAcctKey
        JOIN rating.CacheNamespaces cp ON cp.NamespaceKey = @CandPubKey
        JOIN rating.CacheNamespaces rp ON rp.NamespaceKey = @RatePubKey
        WHERE ca.NamespaceKey = @CandAcctKey;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('usp_GetCacheNamespaceVersionsForQuote failed: %s', 16, 1, @Err);
    END CATCH
END
GO
