USE [RatingDb]
GO
/****** Object:  Table [rating].[FuelScheduleRows]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[FuelScheduleRows](
	[FuelScheduleRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[FuelScheduleId] [bigint] NOT NULL,
	[EffectiveStart] [date] NOT NULL,
	[EffectiveEnd] [date] NOT NULL,
	[IndexMin] [decimal](18, 6) NULL,
	[IndexMax] [decimal](18, 6) NULL,
	[FuelValue] [decimal](18, 6) NOT NULL,
 CONSTRAINT [PK_FuelScheduleRows] PRIMARY KEY CLUSTERED 
(
	[FuelScheduleRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FuelScheduleRows_Lookup]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_FuelScheduleRows_Lookup] ON [rating].[FuelScheduleRows]
(
	[FuelScheduleId] ASC,
	[EffectiveStart] ASC,
	[EffectiveEnd] ASC,
	[IndexMin] ASC,
	[IndexMax] ASC
)
INCLUDE([FuelValue]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[FuelScheduleRows]  WITH CHECK ADD  CONSTRAINT [FK_FuelScheduleRows_FuelSchedules] FOREIGN KEY([FuelScheduleId])
REFERENCES [rating].[FuelSchedules] ([FuelScheduleId])
GO
ALTER TABLE [rating].[FuelScheduleRows] CHECK CONSTRAINT [FK_FuelScheduleRows_FuelSchedules]
GO
ALTER TABLE [rating].[FuelScheduleRows]  WITH CHECK ADD  CONSTRAINT [CK_FuelScheduleRows_Dates] CHECK  (([EffectiveEnd]>=[EffectiveStart]))
GO
ALTER TABLE [rating].[FuelScheduleRows] CHECK CONSTRAINT [CK_FuelScheduleRows_Dates]
GO
ALTER TABLE [rating].[FuelScheduleRows]  WITH CHECK ADD  CONSTRAINT [CK_FuelScheduleRows_IndexRange] CHECK  (([IndexMin] IS NULL AND [IndexMax] IS NULL OR [IndexMin] IS NOT NULL AND [IndexMax] IS NOT NULL AND [IndexMax]>=[IndexMin]))
GO
ALTER TABLE [rating].[FuelScheduleRows] CHECK CONSTRAINT [CK_FuelScheduleRows_IndexRange]
GO
