USE [RatingDb]
GO
/****** Object:  Table [rating].[ContractLaneEligibility]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[ContractLaneEligibility](
	[ContractLaneEligibilityId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[Mode] [nvarchar](10) NOT NULL,
	[OriginZoneId] [int] NULL,
	[DestZoneId] [int] NULL,
	[OriginRegionId] [int] NULL,
	[DestRegionId] [int] NULL,
	[EquipmentType] [nvarchar](30) NULL,
	[OriginPort] [nvarchar](10) NULL,
	[DestPort] [nvarchar](10) NULL,
	[ContainerType] [nvarchar](20) NULL,
	[AllowsMultiStop] [bit] NULL,
	[MaxStops] [int] NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[LaneKeyString] [nvarchar](300) NOT NULL,
	[LaneKeyHash] [binary](32) NOT NULL,
 CONSTRAINT [PK_ContractLaneEligibility] PRIMARY KEY CLUSTERED 
(
	[ContractLaneEligibilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLE_FCL]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_CLE_FCL] ON [rating].[ContractLaneEligibility]
(
	[Mode] ASC,
	[OriginPort] ASC,
	[DestPort] ASC,
	[ContainerType] ASC,
	[ContractVersionId] ASC
)
WHERE ([Mode]='FCL')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLE_FTL]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_CLE_FTL] ON [rating].[ContractLaneEligibility]
(
	[Mode] ASC,
	[OriginRegionId] ASC,
	[DestRegionId] ASC,
	[EquipmentType] ASC,
	[ContractVersionId] ASC
)
WHERE ([Mode]='FTL')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLE_LCL]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_CLE_LCL] ON [rating].[ContractLaneEligibility]
(
	[Mode] ASC,
	[OriginPort] ASC,
	[DestPort] ASC,
	[ContractVersionId] ASC
)
WHERE ([Mode]='LCL')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLE_LTL]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_CLE_LTL] ON [rating].[ContractLaneEligibility]
(
	[Mode] ASC,
	[OriginZoneId] ASC,
	[DestZoneId] ASC,
	[ContractVersionId] ASC
)
WHERE ([Mode]='LTL')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLE_Mode_LaneKeyHash]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_CLE_Mode_LaneKeyHash] ON [rating].[ContractLaneEligibility]
(
	[Mode] ASC,
	[LaneKeyHash] ASC
)
INCLUDE([ContractVersionId],[LaneKeyString]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_CLE_UniqueLanePerVersion]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CLE_UniqueLanePerVersion] ON [rating].[ContractLaneEligibility]
(
	[ContractVersionId] ASC,
	[Mode] ASC,
	[OriginZoneId] ASC,
	[DestZoneId] ASC,
	[OriginRegionId] ASC,
	[DestRegionId] ASC,
	[EquipmentType] ASC,
	[OriginPort] ASC,
	[DestPort] ASC,
	[ContainerType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_CLE_Version_Mode_LaneKeyHash]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CLE_Version_Mode_LaneKeyHash] ON [rating].[ContractLaneEligibility]
(
	[ContractVersionId] ASC,
	[Mode] ASC,
	[LaneKeyHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[ContractLaneEligibility] ADD  CONSTRAINT [DF_CLE_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[ContractLaneEligibility] ADD  CONSTRAINT [DF_CLE_LaneKeyString]  DEFAULT ('') FOR [LaneKeyString]
GO
ALTER TABLE [rating].[ContractLaneEligibility] ADD  CONSTRAINT [DF_CLE_LaneKeyHash]  DEFAULT (0x00) FOR [LaneKeyHash]
GO
ALTER TABLE [rating].[ContractLaneEligibility]  WITH CHECK ADD  CONSTRAINT [FK_CLE_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[ContractLaneEligibility] CHECK CONSTRAINT [FK_CLE_ContractVersions]
GO
ALTER TABLE [rating].[ContractLaneEligibility]  WITH CHECK ADD  CONSTRAINT [CK_CLE_LaneKeyString_NotEmpty] CHECK  ((len([LaneKeyString])>(0)))
GO
ALTER TABLE [rating].[ContractLaneEligibility] CHECK CONSTRAINT [CK_CLE_LaneKeyString_NotEmpty]
GO
ALTER TABLE [rating].[ContractLaneEligibility]  WITH CHECK ADD  CONSTRAINT [CK_CLE_Mode] CHECK  (([Mode]='LCL' OR [Mode]='FCL' OR [Mode]='FTL' OR [Mode]='LTL'))
GO
ALTER TABLE [rating].[ContractLaneEligibility] CHECK CONSTRAINT [CK_CLE_Mode]
GO
ALTER TABLE [rating].[ContractLaneEligibility]  WITH CHECK ADD  CONSTRAINT [CK_CLE_ModeColumns] CHECK  (([Mode]='LTL' AND [OriginZoneId] IS NOT NULL AND [DestZoneId] IS NOT NULL AND [OriginRegionId] IS NULL AND [DestRegionId] IS NULL AND [EquipmentType] IS NULL AND [OriginPort] IS NULL AND [DestPort] IS NULL AND [ContainerType] IS NULL OR [Mode]='FTL' AND [OriginRegionId] IS NOT NULL AND [DestRegionId] IS NOT NULL AND [EquipmentType] IS NOT NULL AND [OriginZoneId] IS NULL AND [DestZoneId] IS NULL AND [OriginPort] IS NULL AND [DestPort] IS NULL AND [ContainerType] IS NULL OR [Mode]='FCL' AND [OriginPort] IS NOT NULL AND [DestPort] IS NOT NULL AND [ContainerType] IS NOT NULL AND [OriginZoneId] IS NULL AND [DestZoneId] IS NULL AND [OriginRegionId] IS NULL AND [DestRegionId] IS NULL AND [EquipmentType] IS NULL OR [Mode]='LCL' AND [OriginPort] IS NOT NULL AND [DestPort] IS NOT NULL AND [ContainerType] IS NULL AND [OriginZoneId] IS NULL AND [DestZoneId] IS NULL AND [OriginRegionId] IS NULL AND [DestRegionId] IS NULL AND [EquipmentType] IS NULL))
GO
ALTER TABLE [rating].[ContractLaneEligibility] CHECK CONSTRAINT [CK_CLE_ModeColumns]
GO
