USE [RatingDb]
GO
/****** Object:  Table [rating].[EdiChargeCodes]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[EdiChargeCodes](
	[EdiChargeCodeId] [bigint] IDENTITY(1,1) NOT NULL,
	[Standard] [nvarchar](10) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CanonicalChargeType] [nvarchar](30) NOT NULL,
	[DefaultAccessorialCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_EdiChargeCodes] PRIMARY KEY CLUSTERED 
(
	[EdiChargeCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EdiChargeCodes] UNIQUE NONCLUSTERED 
(
	[Standard] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [rating].[EdiChargeCodes]  WITH CHECK ADD  CONSTRAINT [CK_EdiChargeCodes_CanonicalType] CHECK  (([CanonicalChargeType]='OTHER' OR [CanonicalChargeType]='TAX' OR [CanonicalChargeType]='DISCOUNT' OR [CanonicalChargeType]='ACCESSORIAL' OR [CanonicalChargeType]='FUEL' OR [CanonicalChargeType]='LINEHAUL'))
GO
ALTER TABLE [rating].[EdiChargeCodes] CHECK CONSTRAINT [CK_EdiChargeCodes_CanonicalType]
GO
ALTER TABLE [rating].[EdiChargeCodes]  WITH CHECK ADD  CONSTRAINT [CK_EdiChargeCodes_Standard] CHECK  (([Standard]='BOTH' OR [Standard]='211' OR [Standard]='210'))
GO
ALTER TABLE [rating].[EdiChargeCodes] CHECK CONSTRAINT [CK_EdiChargeCodes_Standard]
GO
