USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_GetCandidateContractVersions_HashFast]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [rating].[usp_GetCandidateContractVersions_HashFast]
(
    @AccountId          BIGINT,
    @Mode               NVARCHAR(10),
    @RateDate           DATE,

    @ProviderIncludeCsv NVARCHAR(MAX) = NULL,
    @ProviderExcludeCsv NVARCHAR(MAX) = NULL,

    -- mode-specific inputs
    @OriginZoneId       INT = NULL,
    @DestZoneId         INT = NULL,
    @OriginRegionId     INT = NULL,
    @DestRegionId       INT = NULL,
    @EquipmentType      NVARCHAR(30) = NULL,
    @OriginPort         NVARCHAR(10) = NULL,
    @DestPort           NVARCHAR(10) = NULL,
    @ContainerType      NVARCHAR(20) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    /* Parse provider include/exclude */
    DECLARE @ProviderInclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);
    DECLARE @ProviderExclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);

    IF @ProviderIncludeCsv IS NOT NULL AND LEN(@ProviderIncludeCsv) > 0
        INSERT INTO @ProviderInclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderIncludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    IF @ProviderExcludeCsv IS NOT NULL AND LEN(@ProviderExcludeCsv) > 0
        INSERT INTO @ProviderExclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderExcludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    /* Build LaneKeyString + LaneKeyHash once */
    DECLARE @LaneKeyString NVARCHAR(300);
    DECLARE @LaneKeyHash BINARY(32);

    IF @Mode = 'LTL'
        SET @LaneKeyString = CONCAT('LTL|OZ=', @OriginZoneId, '|DZ=', @DestZoneId);
    ELSE IF @Mode = 'FTL'
        SET @LaneKeyString = CONCAT('FTL|OR=', @OriginRegionId, '|DR=', @DestRegionId, '|EQ=', @EquipmentType);
    ELSE IF @Mode = 'FCL'
        SET @LaneKeyString = CONCAT('FCL|OP=', @OriginPort, '|DP=', @DestPort, '|CT=', @ContainerType);
    ELSE IF @Mode = 'LCL'
        SET @LaneKeyString = CONCAT('LCL|OP=', @OriginPort, '|DP=', @DestPort);
    ELSE
    BEGIN
        RAISERROR('Invalid mode.', 16, 1);
        RETURN;
    END

    SET @LaneKeyHash = HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), @LaneKeyString));

    ;WITH ActivePublished AS
    (
        SELECT
            cv.ContractVersionId,
            c.ContractId,
            c.ProviderId,
            p.ProviderCode,
            c.AccountId
        FROM rating.Contracts c
        JOIN rating.ContractVersions cv
            ON cv.ContractId = c.ContractId
           AND cv.PublishStatus = 'PUBLISHED'
           AND @RateDate BETWEEN cv.EffectiveStart AND cv.EffectiveEnd
        JOIN rating.Providers p
            ON p.ProviderId = c.ProviderId
        WHERE
            c.Status = 'ACTIVE'
            AND c.Mode = @Mode
            AND (c.AccountId = @AccountId OR c.AccountId IS NULL)
            AND NOT EXISTS (SELECT 1 FROM @ProviderExclude pe WHERE pe.ProviderCode = p.ProviderCode)
            AND (
                NOT EXISTS (SELECT 1 FROM @ProviderInclude)
                OR EXISTS (SELECT 1 FROM @ProviderInclude pi WHERE pi.ProviderCode = p.ProviderCode)
            )
    ),
    Eligible AS
    (
        SELECT ap.*
        FROM ActivePublished ap
        JOIN rating.ContractLaneEligibility cle
          ON cle.ContractVersionId = ap.ContractVersionId
         AND cle.Mode = @Mode
         AND cle.LaneKeyHash = @LaneKeyHash
        /* Optional collision check (cheap, only on matched rows) */
        WHERE cle.LaneKeyString = @LaneKeyString
    )
    SELECT ContractVersionId, ContractId, ProviderId, ProviderCode, AccountId
    FROM Eligible
    ORDER BY CASE WHEN AccountId = @AccountId THEN 0 ELSE 1 END, ProviderCode;
END
GO
