USE [RatingDb]
GO
/****** Object:  Table [rating].[RateQuoteResults]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[RateQuoteResults](
	[RateQuoteResultId] [bigint] IDENTITY(1,1) NOT NULL,
	[RateQuoteId] [bigint] NOT NULL,
	[ProviderId] [bigint] NOT NULL,
	[ContractId] [bigint] NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[Rank] [int] NOT NULL,
	[TotalAmount] [decimal](18, 6) NOT NULL,
	[TransitDays] [int] NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_RateQuoteResults] PRIMARY KEY CLUSTERED 
(
	[RateQuoteResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_RateQuoteResults_ByQuoteRank]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_RateQuoteResults_ByQuoteRank] ON [rating].[RateQuoteResults]
(
	[RateQuoteId] ASC,
	[Rank] ASC
)
INCLUDE([TotalAmount],[ProviderId],[ContractId],[ContractVersionId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[RateQuoteResults] ADD  CONSTRAINT [DF_RateQuoteResults_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[RateQuoteResults]  WITH CHECK ADD  CONSTRAINT [FK_RQR_Contracts] FOREIGN KEY([ContractId])
REFERENCES [rating].[Contracts] ([ContractId])
GO
ALTER TABLE [rating].[RateQuoteResults] CHECK CONSTRAINT [FK_RQR_Contracts]
GO
ALTER TABLE [rating].[RateQuoteResults]  WITH CHECK ADD  CONSTRAINT [FK_RQR_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[RateQuoteResults] CHECK CONSTRAINT [FK_RQR_ContractVersions]
GO
ALTER TABLE [rating].[RateQuoteResults]  WITH CHECK ADD  CONSTRAINT [FK_RQR_Providers] FOREIGN KEY([ProviderId])
REFERENCES [rating].[Providers] ([ProviderId])
GO
ALTER TABLE [rating].[RateQuoteResults] CHECK CONSTRAINT [FK_RQR_Providers]
GO
ALTER TABLE [rating].[RateQuoteResults]  WITH CHECK ADD  CONSTRAINT [FK_RQR_RateQuotes] FOREIGN KEY([RateQuoteId])
REFERENCES [rating].[RateQuotes] ([RateQuoteId])
GO
ALTER TABLE [rating].[RateQuoteResults] CHECK CONSTRAINT [FK_RQR_RateQuotes]
GO
