USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_GetCandidateContractVersions]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [rating].[usp_GetCandidateContractVersions]
(
    @AccountId          BIGINT,
    @Mode               NVARCHAR(10),
    @RateDate           DATE,

    -- optional filters (pass NULL when not applicable)
    @ProviderIncludeCsv NVARCHAR(MAX) = NULL,  -- e.g. 'CARR01,CARR02' (ProviderCode)
    @ProviderExcludeCsv NVARCHAR(MAX) = NULL,  -- e.g. 'CARR99'
    @EquipmentType      NVARCHAR(30) = NULL,   -- for FTL
    @ContainerType      NVARCHAR(20) = NULL,   -- for FCL
    @OriginZoneId       INT = NULL,            -- for LTL
    @DestZoneId         INT = NULL,            -- for LTL
    @OriginRegionId     INT = NULL,            -- for FTL
    @DestRegionId       INT = NULL,            -- for FTL
    @OriginPort         NVARCHAR(10) = NULL,   -- for FCL/LCL
    @DestPort           NVARCHAR(10) = NULL    -- for FCL/LCL
)
AS
BEGIN
    SET NOCOUNT ON;

    /* Parse provider include/exclude lists */
    DECLARE @ProviderInclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);
    DECLARE @ProviderExclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);

    IF @ProviderIncludeCsv IS NOT NULL AND LEN(@ProviderIncludeCsv) > 0
        INSERT INTO @ProviderInclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderIncludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    IF @ProviderExcludeCsv IS NOT NULL AND LEN(@ProviderExcludeCsv) > 0
        INSERT INTO @ProviderExclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderExcludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    /* 1) Get published, effective versions for account + public */
    ;WITH ActiveVersions AS
    (
        SELECT
            cv.ContractVersionId,
            c.ContractId,
            c.ProviderId,
            p.ProviderCode,
            c.AccountId,
            c.Mode
        FROM rating.Contracts c
        JOIN rating.ContractVersions cv
            ON cv.ContractId = c.ContractId
           AND cv.PublishStatus = 'PUBLISHED'
           AND @RateDate BETWEEN cv.EffectiveStart AND cv.EffectiveEnd
        JOIN rating.Providers p
            ON p.ProviderId = c.ProviderId
        WHERE
            c.Status = 'ACTIVE'
            AND c.Mode = @Mode
            AND (c.AccountId = @AccountId OR c.AccountId IS NULL)
            AND NOT EXISTS (SELECT 1 FROM @ProviderExclude pe WHERE pe.ProviderCode = p.ProviderCode)
            AND (
                NOT EXISTS (SELECT 1 FROM @ProviderInclude)
                OR EXISTS (SELECT 1 FROM @ProviderInclude pi WHERE pi.ProviderCode = p.ProviderCode)
            )
    ),
    /* 2) Apply mode-specific "has rates for this lane" constraints to shrink candidates fast */
    LaneFiltered AS
    (
        SELECT av.*
        FROM ActiveVersions av
        WHERE
            (
                @Mode = 'LTL'
                AND EXISTS (
                    SELECT 1
                    FROM rating.LtlBaseRates r
                    WHERE r.ContractVersionId = av.ContractVersionId
                      AND r.OriginZoneId = @OriginZoneId
                      AND r.DestZoneId = @DestZoneId
                )
            )
            OR
            (
                @Mode = 'FTL'
                AND EXISTS (
                    SELECT 1
                    FROM rating.FtlLaneRates r
                    WHERE r.ContractVersionId = av.ContractVersionId
                      AND r.OriginRegionId = @OriginRegionId
                      AND r.DestRegionId = @DestRegionId
                      AND (@EquipmentType IS NULL OR r.EquipmentType = @EquipmentType)
                )
            )
            OR
            (
                @Mode = 'FCL'
                AND EXISTS (
                    SELECT 1
                    FROM rating.FclContainerRates r
                    WHERE r.ContractVersionId = av.ContractVersionId
                      AND r.OriginPort = @OriginPort
                      AND r.DestPort = @DestPort
                      AND (@ContainerType IS NULL OR r.ContainerType = @ContainerType)
                )
            )
            OR
            (
                @Mode = 'LCL'
                AND EXISTS (
                    SELECT 1
                    FROM rating.LclRates r
                    WHERE r.ContractVersionId = av.ContractVersionId
                      AND r.OriginPort = @OriginPort
                      AND r.DestPort = @DestPort
                )
            )
    )
    SELECT
        ContractVersionId,
        ContractId,
        ProviderId,
        ProviderCode,
        AccountId
    FROM LaneFiltered
    /* prefer account-specific before public */
    ORDER BY CASE WHEN AccountId = @AccountId THEN 0 ELSE 1 END, ProviderCode;
END
GO
