USE [RatingDb]
GO
/****** Object:  Table [rating].[ContractFuelRules]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[ContractFuelRules](
	[ContractFuelRuleId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[FuelScheduleId] [bigint] NOT NULL,
	[ApplyTo] [nvarchar](20) NOT NULL,
	[CalcMethod] [nvarchar](20) NOT NULL,
	[FormulaExpression] [nvarchar](max) NULL,
	[RoundingJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContractFuelRules] PRIMARY KEY CLUSTERED 
(
	[ContractFuelRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractFuelRules_ByVersion]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContractFuelRules_ByVersion] ON [rating].[ContractFuelRules]
(
	[ContractVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[ContractFuelRules]  WITH CHECK ADD  CONSTRAINT [FK_ContractFuelRules_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[ContractFuelRules] CHECK CONSTRAINT [FK_ContractFuelRules_ContractVersions]
GO
ALTER TABLE [rating].[ContractFuelRules]  WITH CHECK ADD  CONSTRAINT [FK_ContractFuelRules_FuelSchedules] FOREIGN KEY([FuelScheduleId])
REFERENCES [rating].[FuelSchedules] ([FuelScheduleId])
GO
ALTER TABLE [rating].[ContractFuelRules] CHECK CONSTRAINT [FK_ContractFuelRules_FuelSchedules]
GO
ALTER TABLE [rating].[ContractFuelRules]  WITH CHECK ADD  CONSTRAINT [CK_ContractFuelRules_ApplyTo] CHECK  (([ApplyTo]='TOTAL' OR [ApplyTo]='FREIGHT' OR [ApplyTo]='LINEHAUL'))
GO
ALTER TABLE [rating].[ContractFuelRules] CHECK CONSTRAINT [CK_ContractFuelRules_ApplyTo]
GO
ALTER TABLE [rating].[ContractFuelRules]  WITH CHECK ADD  CONSTRAINT [CK_ContractFuelRules_CalcMethod] CHECK  (([CalcMethod]='FORMULA' OR [CalcMethod]='FLAT' OR [CalcMethod]='PER_MILE' OR [CalcMethod]='PERCENT'))
GO
ALTER TABLE [rating].[ContractFuelRules] CHECK CONSTRAINT [CK_ContractFuelRules_CalcMethod]
GO
