USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_BumpNamespacesForContract]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -----------------------------
   4) Helper: bump namespaces for a ContractId
      - Bumps BOTH candidates + rates namespaces
      - Bumps account-specific OR public depending on Contracts.AccountId
   ----------------------------- */
CREATE   PROCEDURE [rating].[usp_BumpNamespacesForContract]
(
    @ContractId BIGINT,
    @Note       NVARCHAR(500) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AccountId BIGINT;
    DECLARE @Mode NVARCHAR(10);

    SELECT @AccountId = c.AccountId, @Mode = c.Mode
    FROM rating.Contracts c
    WHERE c.ContractId = @ContractId;

    IF @Mode IS NULL
    BEGIN
        RAISERROR('ContractId not found.', 16, 1);
        RETURN;
    END

    DECLARE @Who VARCHAR(450) = COALESCE(TRY_CONVERT(VARCHAR(450), SESSION_CONTEXT(N'UserId')), 'SYSTEM');
    DECLARE @Scope NVARCHAR(40) = CASE WHEN @AccountId IS NULL THEN N'PUBLIC' ELSE CONVERT(NVARCHAR(20), @AccountId) END;

    DECLARE @CandKey NVARCHAR(200) = CONCAT(N'CandidatesNS:', @Scope, N':', @Mode);
    DECLARE @RateKey NVARCHAR(200) = CONCAT(N'RatesNS:',      @Scope, N':', @Mode);

    DECLARE @noteInsert varchar(500) = COALESCE(@Note, N'Contract publish/status change')

    EXEC rating.usp_BumpCacheNamespace @NamespaceKey = @CandKey, @UpdatedBy = @Who, @Note = @noteInsert;
    EXEC rating.usp_BumpCacheNamespace @NamespaceKey = @RateKey, @UpdatedBy = @Who, @Note = @noteInsert;
END
GO
