USE [RatingDb]
GO
/****** Object:  Table [rating].[LtlBaseRates]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[LtlBaseRates](
	[LtlBaseRateId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[OriginZoneId] [int] NOT NULL,
	[DestZoneId] [int] NOT NULL,
	[NmfcClass] [int] NOT NULL,
	[WeightMinLbs] [int] NOT NULL,
	[WeightMaxLbs] [int] NOT NULL,
	[RatePerCwt] [decimal](18, 6) NOT NULL,
	[MinimumCharge] [decimal](18, 6) NULL,
	[DeficitRuleJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_LtlBaseRates] PRIMARY KEY CLUSTERED 
(
	[LtlBaseRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_LtlBaseRates_Lookup]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_LtlBaseRates_Lookup] ON [rating].[LtlBaseRates]
(
	[ContractVersionId] ASC,
	[OriginZoneId] ASC,
	[DestZoneId] ASC,
	[NmfcClass] ASC,
	[WeightMinLbs] ASC,
	[WeightMaxLbs] ASC
)
INCLUDE([RatePerCwt],[MinimumCharge]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[LtlBaseRates]  WITH CHECK ADD  CONSTRAINT [FK_LtlBaseRates_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[LtlBaseRates] CHECK CONSTRAINT [FK_LtlBaseRates_ContractVersions]
GO
ALTER TABLE [rating].[LtlBaseRates]  WITH CHECK ADD  CONSTRAINT [CK_LtlBaseRates_Class] CHECK  (([NmfcClass]>=(50) AND [NmfcClass]<=(500)))
GO
ALTER TABLE [rating].[LtlBaseRates] CHECK CONSTRAINT [CK_LtlBaseRates_Class]
GO
ALTER TABLE [rating].[LtlBaseRates]  WITH CHECK ADD  CONSTRAINT [CK_LtlBaseRates_Weight] CHECK  (([WeightMaxLbs]>=[WeightMinLbs] AND [WeightMinLbs]>(0)))
GO
ALTER TABLE [rating].[LtlBaseRates] CHECK CONSTRAINT [CK_LtlBaseRates_Weight]
GO
