USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_PublishContractVersion]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [rating].[usp_PublishContractVersion]
(
    @ContractVersionId BIGINT,
    @PublishedBy       NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        /* Basic guardrails */
        IF NOT EXISTS (
            SELECT 1
            FROM rating.ContractVersions
            WHERE ContractVersionId = @ContractVersionId
              AND PublishStatus IN ('DRAFT','RETIRED')
        )
        BEGIN
            RAISERROR('ContractVersionId not found or not publishable.', 16, 1);
            ROLLBACK;
            RETURN;
        END

        /* Publish */
        UPDATE rating.ContractVersions
        SET PublishStatus = 'PUBLISHED',
            PublishedAt = SYSUTCDATETIME(),
            CreatedBy = COALESCE(@PublishedBy, CreatedBy)
        WHERE ContractVersionId = @ContractVersionId;

        /* Rebuild lane eligibility snapshot */
        EXEC rating.usp_RebuildContractLaneEligibility @ContractVersionId = @ContractVersionId;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('PublishContractVersion failed: %s', 16, 1, @Err);
    END CATCH
END
GO
