USE [RatingDb]
GO
/****** Object:  Table [rating].[CacheNamespaces]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[CacheNamespaces](
	[NamespaceKey] [nvarchar](200) NOT NULL,
	[VersionNo] [bigint] NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[UpdatedBy] [varchar](450) NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_CacheNamespaces] PRIMARY KEY CLUSTERED 
(
	[NamespaceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CacheNamespaces_UpdatedAt]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_CacheNamespaces_UpdatedAt] ON [rating].[CacheNamespaces]
(
	[UpdatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[CacheNamespaces] ADD  CONSTRAINT [DF_CacheNamespaces_VersionNo]  DEFAULT ((1)) FOR [VersionNo]
GO
ALTER TABLE [rating].[CacheNamespaces] ADD  CONSTRAINT [DF_CacheNamespaces_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
