USE [RatingDb]
GO
/****** Object:  Table [rating].[ContractAccessorialCharges]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[ContractAccessorialCharges](
	[ContractAccessorialChargeId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[AccessorialId] [bigint] NOT NULL,
	[CalcType] [nvarchar](20) NOT NULL,
	[FlatAmount] [decimal](18, 6) NULL,
	[PercentValue] [decimal](18, 6) NULL,
	[FormulaExpression] [nvarchar](max) NULL,
	[TierTableJson] [nvarchar](max) NULL,
	[ApplyTo] [nvarchar](30) NOT NULL,
	[MinAmount] [decimal](18, 6) NULL,
	[MaxAmount] [decimal](18, 6) NULL,
 CONSTRAINT [PK_ContractAccessorialCharges] PRIMARY KEY CLUSTERED 
(
	[ContractAccessorialChargeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [UX_CAC_VersionAccessorial]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CAC_VersionAccessorial] ON [rating].[ContractAccessorialCharges]
(
	[ContractVersionId] ASC,
	[AccessorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[ContractAccessorialCharges]  WITH CHECK ADD  CONSTRAINT [FK_CAC_Accessorials] FOREIGN KEY([AccessorialId])
REFERENCES [rating].[Accessorials] ([AccessorialId])
GO
ALTER TABLE [rating].[ContractAccessorialCharges] CHECK CONSTRAINT [FK_CAC_Accessorials]
GO
ALTER TABLE [rating].[ContractAccessorialCharges]  WITH CHECK ADD  CONSTRAINT [FK_CAC_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[ContractAccessorialCharges] CHECK CONSTRAINT [FK_CAC_ContractVersions]
GO
ALTER TABLE [rating].[ContractAccessorialCharges]  WITH CHECK ADD  CONSTRAINT [CK_CAC_ApplyTo] CHECK  (([ApplyTo]='LEG_LINEHAUL' OR [ApplyTo]='TOTAL' OR [ApplyTo]='FREIGHT' OR [ApplyTo]='LINEHAUL'))
GO
ALTER TABLE [rating].[ContractAccessorialCharges] CHECK CONSTRAINT [CK_CAC_ApplyTo]
GO
ALTER TABLE [rating].[ContractAccessorialCharges]  WITH CHECK ADD  CONSTRAINT [CK_CAC_CalcType] CHECK  (([CalcType]='TIERED' OR [CalcType]='FORMULA' OR [CalcType]='PERCENT' OR [CalcType]='FLAT'))
GO
ALTER TABLE [rating].[ContractAccessorialCharges] CHECK CONSTRAINT [CK_CAC_CalcType]
GO
ALTER TABLE [rating].[ContractAccessorialCharges]  WITH CHECK ADD  CONSTRAINT [CK_CAC_MinMax] CHECK  (([MaxAmount] IS NULL OR [MinAmount] IS NULL OR [MaxAmount]>=[MinAmount]))
GO
ALTER TABLE [rating].[ContractAccessorialCharges] CHECK CONSTRAINT [CK_CAC_MinMax]
GO
