USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_RebuildContractLaneEligibility_Hash]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   Rebuild eligibility snapshot + LaneKeyHash for a contract version
   ============================================================ */
CREATE   PROCEDURE [rating].[usp_RebuildContractLaneEligibility_Hash]
(
    @ContractVersionId BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Mode NVARCHAR(10);

    SELECT @Mode = c.Mode
    FROM rating.ContractVersions cv
    JOIN rating.Contracts c ON c.ContractId = cv.ContractId
    WHERE cv.ContractVersionId = @ContractVersionId;

    IF @Mode IS NULL
    BEGIN
        RAISERROR('ContractVersionId not found.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRAN;

        DELETE FROM rating.ContractLaneEligibility
        WHERE ContractVersionId = @ContractVersionId;

        IF @Mode = 'LTL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginZoneId, DestZoneId,
                LaneKeyString, LaneKeyHash,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'LTL',
                r.OriginZoneId,
                r.DestZoneId,
                CONCAT('LTL|OZ=', r.OriginZoneId, '|DZ=', r.DestZoneId) AS LaneKeyString,
                HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), CONCAT('LTL|OZ=', r.OriginZoneId, '|DZ=', r.DestZoneId))) AS LaneKeyHash,
                NULL, NULL
            FROM rating.LtlBaseRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'FTL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginRegionId, DestRegionId, EquipmentType,
                LaneKeyString, LaneKeyHash,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'FTL',
                r.OriginRegionId,
                r.DestRegionId,
                r.EquipmentType,
                CONCAT('FTL|OR=', r.OriginRegionId, '|DR=', r.DestRegionId, '|EQ=', r.EquipmentType) AS LaneKeyString,
                HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX),
                    CONCAT('FTL|OR=', r.OriginRegionId, '|DR=', r.DestRegionId, '|EQ=', r.EquipmentType)
                )) AS LaneKeyHash,
                NULL, NULL
            FROM rating.FtlLaneRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'FCL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginPort, DestPort, ContainerType,
                LaneKeyString, LaneKeyHash,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'FCL',
                r.OriginPort,
                r.DestPort,
                r.ContainerType,
                CONCAT('FCL|OP=', r.OriginPort, '|DP=', r.DestPort, '|CT=', r.ContainerType) AS LaneKeyString,
                HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX),
                    CONCAT('FCL|OP=', r.OriginPort, '|DP=', r.DestPort, '|CT=', r.ContainerType)
                )) AS LaneKeyHash,
                NULL, NULL
            FROM rating.FclContainerRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'LCL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginPort, DestPort,
                LaneKeyString, LaneKeyHash,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'LCL',
                r.OriginPort,
                r.DestPort,
                CONCAT('LCL|OP=', r.OriginPort, '|DP=', r.DestPort) AS LaneKeyString,
                HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX),
                    CONCAT('LCL|OP=', r.OriginPort, '|DP=', r.DestPort)
                )) AS LaneKeyHash,
                NULL, NULL
            FROM rating.LclRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('RebuildContractLaneEligibility_Hash failed: %s', 16, 1, @Err);
        RETURN;
    END CATCH
END
GO
