USE [RatingDb]
GO
/****** Object:  Table [rating].[AccessorialRules]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[AccessorialRules](
	[AccessorialRuleId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[AccessorialId] [bigint] NOT NULL,
	[RuleName] [nvarchar](200) NOT NULL,
	[ConditionExpression] [nvarchar](max) NOT NULL,
	[OverrideCalcType] [nvarchar](20) NULL,
	[OverrideExpression] [nvarchar](max) NULL,
	[StackingPolicy] [nvarchar](20) NOT NULL,
	[ExclusiveGroupKey] [nvarchar](50) NULL,
	[Priority] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_AccessorialRules] PRIMARY KEY CLUSTERED 
(
	[AccessorialRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AccessorialRules_ByVersion]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_AccessorialRules_ByVersion] ON [rating].[AccessorialRules]
(
	[ContractVersionId] ASC,
	[IsEnabled] ASC,
	[Priority] ASC
)
INCLUDE([AccessorialId],[StackingPolicy],[ExclusiveGroupKey]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[AccessorialRules] ADD  CONSTRAINT [DF_AccessorialRules_Stacking]  DEFAULT ('ADD') FOR [StackingPolicy]
GO
ALTER TABLE [rating].[AccessorialRules] ADD  CONSTRAINT [DF_AccessorialRules_Priority]  DEFAULT ((100)) FOR [Priority]
GO
ALTER TABLE [rating].[AccessorialRules] ADD  CONSTRAINT [DF_AccessorialRules_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [rating].[AccessorialRules]  WITH CHECK ADD  CONSTRAINT [FK_AR_Accessorials] FOREIGN KEY([AccessorialId])
REFERENCES [rating].[Accessorials] ([AccessorialId])
GO
ALTER TABLE [rating].[AccessorialRules] CHECK CONSTRAINT [FK_AR_Accessorials]
GO
ALTER TABLE [rating].[AccessorialRules]  WITH CHECK ADD  CONSTRAINT [FK_AR_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[AccessorialRules] CHECK CONSTRAINT [FK_AR_ContractVersions]
GO
ALTER TABLE [rating].[AccessorialRules]  WITH CHECK ADD  CONSTRAINT [CK_AR_OverrideCalcType] CHECK  (([OverrideCalcType] IS NULL OR ([OverrideCalcType]='FORMULA' OR [OverrideCalcType]='PERCENT' OR [OverrideCalcType]='FLAT')))
GO
ALTER TABLE [rating].[AccessorialRules] CHECK CONSTRAINT [CK_AR_OverrideCalcType]
GO
ALTER TABLE [rating].[AccessorialRules]  WITH CHECK ADD  CONSTRAINT [CK_AR_StackingPolicy] CHECK  (([StackingPolicy]='EXCLUSIVE_GROUP' OR [StackingPolicy]='REPLACE' OR [StackingPolicy]='ADD'))
GO
ALTER TABLE [rating].[AccessorialRules] CHECK CONSTRAINT [CK_AR_StackingPolicy]
GO
