USE [RatingDb]
GO
/****** Object:  Table [rating].[Contracts]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[Contracts](
	[ContractId] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountId] [bigint] NULL,
	[ProviderId] [bigint] NOT NULL,
	[Mode] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CurrencyCode] [nvarchar](3) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[PublishedDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Contracts_AccountMode]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Contracts_AccountMode] ON [rating].[Contracts]
(
	[AccountId] ASC,
	[Mode] ASC,
	[ProviderId] ASC
)
INCLUDE([Status],[CurrencyCode]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[Contracts] ADD  CONSTRAINT [DF_Contracts_Currency]  DEFAULT ('USD') FOR [CurrencyCode]
GO
ALTER TABLE [rating].[Contracts] ADD  CONSTRAINT [DF_Contracts_Status]  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [rating].[Contracts] ADD  CONSTRAINT [DF_Contracts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[Contracts] ADD  CONSTRAINT [DF_Contracts_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [rating].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Accounts] FOREIGN KEY([AccountId])
REFERENCES [rating].[Accounts] ([AccountId])
GO
ALTER TABLE [rating].[Contracts] CHECK CONSTRAINT [FK_Contracts_Accounts]
GO
ALTER TABLE [rating].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Providers] FOREIGN KEY([ProviderId])
REFERENCES [rating].[Providers] ([ProviderId])
GO
ALTER TABLE [rating].[Contracts] CHECK CONSTRAINT [FK_Contracts_Providers]
GO
ALTER TABLE [rating].[Contracts]  WITH CHECK ADD  CONSTRAINT [CK_Contracts_Currency] CHECK  ((len([CurrencyCode])=(3)))
GO
ALTER TABLE [rating].[Contracts] CHECK CONSTRAINT [CK_Contracts_Currency]
GO
ALTER TABLE [rating].[Contracts]  WITH CHECK ADD  CONSTRAINT [CK_Contracts_Mode] CHECK  (([Mode]='LCL' OR [Mode]='FCL' OR [Mode]='FTL' OR [Mode]='LTL'))
GO
ALTER TABLE [rating].[Contracts] CHECK CONSTRAINT [CK_Contracts_Mode]
GO
ALTER TABLE [rating].[Contracts]  WITH CHECK ADD  CONSTRAINT [CK_Contracts_Status] CHECK  (([Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [rating].[Contracts] CHECK CONSTRAINT [CK_Contracts_Status]
GO
