USE [RatingDb]
GO
/****** Object:  Table [rating].[RateQuotes]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[RateQuotes](
	[RateQuoteId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [uniqueidentifier] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[Mode] [nvarchar](10) NOT NULL,
	[CurrencyCode] [nvarchar](3) NOT NULL,
	[RateDate] [date] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_RateQuotes] PRIMARY KEY CLUSTERED 
(
	[RateQuoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [rating].[RateQuotes] ADD  CONSTRAINT [DF_RateQuotes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[RateQuotes]  WITH CHECK ADD  CONSTRAINT [FK_RateQuotes_Accounts] FOREIGN KEY([AccountId])
REFERENCES [rating].[Accounts] ([AccountId])
GO
ALTER TABLE [rating].[RateQuotes] CHECK CONSTRAINT [FK_RateQuotes_Accounts]
GO
ALTER TABLE [rating].[RateQuotes]  WITH CHECK ADD  CONSTRAINT [CK_RateQuotes_Mode] CHECK  (([Mode]='LCL' OR [Mode]='FCL' OR [Mode]='FTL' OR [Mode]='LTL'))
GO
ALTER TABLE [rating].[RateQuotes] CHECK CONSTRAINT [CK_RateQuotes_Mode]
GO
