USE [RatingDb]
GO
/****** Object:  Table [rating].[FuelSchedules]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[FuelSchedules](
	[FuelScheduleId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IndexType] [nvarchar](20) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_FuelSchedules] PRIMARY KEY CLUSTERED 
(
	[FuelScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [rating].[FuelSchedules]  WITH CHECK ADD  CONSTRAINT [CK_FuelSchedules_IndexType] CHECK  (([IndexType]='FIXED' OR [IndexType]='CUSTOM' OR [IndexType]='DOE_DIESEL'))
GO
ALTER TABLE [rating].[FuelSchedules] CHECK CONSTRAINT [CK_FuelSchedules_IndexType]
GO
ALTER TABLE [rating].[FuelSchedules]  WITH CHECK ADD  CONSTRAINT [CK_FuelSchedules_Unit] CHECK  (([Unit]='FLAT' OR [Unit]='AMOUNT_PER_MILE' OR [Unit]='PERCENT'))
GO
ALTER TABLE [rating].[FuelSchedules] CHECK CONSTRAINT [CK_FuelSchedules_Unit]
GO
