USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_BumpNamespacesForContractVersion]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -----------------------------
   5) Helper: bump namespaces for a ContractVersionId
      - Resolves ContractId, then bumps
   ----------------------------- */
CREATE   PROCEDURE [rating].[usp_BumpNamespacesForContractVersion]
(
    @ContractVersionId BIGINT,
    @Note              NVARCHAR(500) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ContractId BIGINT;

    SELECT @ContractId = ContractId
    FROM rating.ContractVersions
    WHERE ContractVersionId = @ContractVersionId;

    IF @ContractId IS NULL
    BEGIN
        RAISERROR('ContractVersionId not found.', 16, 1);
        RETURN;
    END

    EXEC rating.usp_BumpNamespacesForContract @ContractId = @ContractId, @Note = @Note;
END
GO
