USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_GetCandidateContractVersions_ByLaneHash]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [rating].[usp_GetCandidateContractVersions_ByLaneHash]
(
    @AccountId          BIGINT,
    @Mode               NVARCHAR(10),
    @RateDate           DATE,

    @LaneKeyHash        BINARY(32),
    @LaneKeyString      NVARCHAR(300) = NULL,  -- optional (debug / collision check)

    @ProviderIncludeCsv NVARCHAR(MAX) = NULL,
    @ProviderExcludeCsv NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ProviderInclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);
    DECLARE @ProviderExclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);

    IF @ProviderIncludeCsv IS NOT NULL AND LEN(@ProviderIncludeCsv) > 0
        INSERT INTO @ProviderInclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderIncludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    IF @ProviderExcludeCsv IS NOT NULL AND LEN(@ProviderExcludeCsv) > 0
        INSERT INTO @ProviderExclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderExcludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    ;WITH ActivePublished AS
    (
        SELECT
            cv.ContractVersionId,
            c.ContractId,
            c.ProviderId,
            p.ProviderCode,
            c.AccountId
        FROM rating.Contracts c
        JOIN rating.ContractVersions cv
            ON cv.ContractId = c.ContractId
           AND cv.PublishStatus = 'PUBLISHED'
           AND @RateDate BETWEEN cv.EffectiveStart AND cv.EffectiveEnd
        JOIN rating.Providers p
            ON p.ProviderId = c.ProviderId
        WHERE
            c.Status = 'ACTIVE'
            AND c.Mode = @Mode
            AND (c.AccountId = @AccountId OR c.AccountId IS NULL)
            AND NOT EXISTS (SELECT 1 FROM @ProviderExclude pe WHERE pe.ProviderCode = p.ProviderCode)
            AND (
                NOT EXISTS (SELECT 1 FROM @ProviderInclude)
                OR EXISTS (SELECT 1 FROM @ProviderInclude pi WHERE pi.ProviderCode = p.ProviderCode)
            )
    )
    SELECT
        ap.ContractVersionId,
        ap.ContractId,
        ap.ProviderId,
        ap.ProviderCode,
        ap.AccountId
    FROM ActivePublished ap
    JOIN rating.ContractLaneEligibility cle
      ON cle.ContractVersionId = ap.ContractVersionId
     AND cle.Mode = @Mode
     AND cle.LaneKeyHash = @LaneKeyHash
    WHERE
      (@LaneKeyString IS NULL OR cle.LaneKeyString = @LaneKeyString)
    ORDER BY
      CASE WHEN ap.AccountId = @AccountId THEN 0 ELSE 1 END,
      ap.ProviderCode;
END
GO
