USE [RatingDb]
GO
/****** Object:  Table [rating].[Providers]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[Providers](
	[ProviderId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProviderCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ModeCapabilitiesJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Providers] PRIMARY KEY CLUSTERED 
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Providers_ProviderCode] UNIQUE NONCLUSTERED 
(
	[ProviderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [rating].[Providers] ADD  CONSTRAINT [DF_Providers_Status]  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [rating].[Providers] ADD  CONSTRAINT [DF_Providers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[Providers]  WITH CHECK ADD  CONSTRAINT [CK_Providers_Status] CHECK  (([Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [rating].[Providers] CHECK CONSTRAINT [CK_Providers_Status]
GO
