USE [RatingDb]
GO
/****** Object:  Table [rating].[LclRates]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[LclRates](
	[LclRateId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[OriginPort] [nvarchar](10) NOT NULL,
	[DestPort] [nvarchar](10) NOT NULL,
	[RateBasis] [nvarchar](10) NOT NULL,
	[RatePerWm] [decimal](18, 6) NULL,
	[RatePerLb] [decimal](18, 6) NULL,
	[MinimumCharge] [decimal](18, 6) NOT NULL,
	[BreakpointsJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_LclRates] PRIMARY KEY CLUSTERED 
(
	[LclRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LclRates_Lookup]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_LclRates_Lookup] ON [rating].[LclRates]
(
	[ContractVersionId] ASC,
	[OriginPort] ASC,
	[DestPort] ASC,
	[RateBasis] ASC
)
INCLUDE([RatePerWm],[RatePerLb],[MinimumCharge]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[LclRates]  WITH CHECK ADD  CONSTRAINT [FK_LclRates_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[LclRates] CHECK CONSTRAINT [FK_LclRates_ContractVersions]
GO
ALTER TABLE [rating].[LclRates]  WITH CHECK ADD  CONSTRAINT [CK_LclRates_RateBasis] CHECK  (([RateBasis]='WEIGHT' OR [RateBasis]='WM'))
GO
ALTER TABLE [rating].[LclRates] CHECK CONSTRAINT [CK_LclRates_RateBasis]
GO
ALTER TABLE [rating].[LclRates]  WITH CHECK ADD  CONSTRAINT [CK_LclRates_Rates] CHECK  (([RateBasis]='WM' AND [RatePerWm] IS NOT NULL AND [RatePerLb] IS NULL OR [RateBasis]='WEIGHT' AND [RatePerLb] IS NOT NULL AND [RatePerWm] IS NULL))
GO
ALTER TABLE [rating].[LclRates] CHECK CONSTRAINT [CK_LclRates_Rates]
GO
