USE [RatingDb]
GO
/****** Object:  Table [rating].[GeoZipZone]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[GeoZipZone](
	[GeoZipZoneId] [bigint] IDENTITY(1,1) NOT NULL,
	[PostalCode] [nvarchar](20) NOT NULL,
	[CountryCode] [nvarchar](2) NOT NULL,
	[ZoneId] [int] NULL,
	[RegionId] [int] NULL,
	[MetroId] [int] NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_GeoZipZone] PRIMARY KEY CLUSTERED 
(
	[GeoZipZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GeoZipZone] UNIQUE NONCLUSTERED 
(
	[PostalCode] ASC,
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GeoZipZone_PostalCountry]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_GeoZipZone_PostalCountry] ON [rating].[GeoZipZone]
(
	[PostalCode] ASC,
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[GeoZipZone] ADD  CONSTRAINT [DF_GeoZipZone_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [rating].[GeoZipZone]  WITH CHECK ADD  CONSTRAINT [CK_GeoZipZone_CountryCode] CHECK  ((len([CountryCode])=(2)))
GO
ALTER TABLE [rating].[GeoZipZone] CHECK CONSTRAINT [CK_GeoZipZone_CountryCode]
GO
