USE [RatingDb]
GO
/****** Object:  Table [rating].[ContractVersions]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[ContractVersions](
	[ContractVersionId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractId] [bigint] NOT NULL,
	[VersionNo] [int] NOT NULL,
	[EffectiveStart] [date] NOT NULL,
	[EffectiveEnd] [date] NOT NULL,
	[PublishStatus] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[PublishedAt] [datetime2](3) NULL,
 CONSTRAINT [PK_ContractVersions] PRIMARY KEY CLUSTERED 
(
	[ContractVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ContractVersions] UNIQUE NONCLUSTERED 
(
	[ContractId] ASC,
	[VersionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ContractVersions_ActivePublished]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContractVersions_ActivePublished] ON [rating].[ContractVersions]
(
	[ContractId] ASC,
	[PublishStatus] ASC,
	[EffectiveStart] ASC,
	[EffectiveEnd] ASC
)
INCLUDE([VersionNo],[PublishedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractVersions_PublishedOnly]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContractVersions_PublishedOnly] ON [rating].[ContractVersions]
(
	[ContractId] ASC,
	[EffectiveStart] ASC,
	[EffectiveEnd] ASC
)
INCLUDE([VersionNo]) 
WHERE ([PublishStatus]='PUBLISHED')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[ContractVersions] ADD  CONSTRAINT [DF_ContractVersions_PublishStatus]  DEFAULT ('DRAFT') FOR [PublishStatus]
GO
ALTER TABLE [rating].[ContractVersions] ADD  CONSTRAINT [DF_ContractVersions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[ContractVersions]  WITH CHECK ADD  CONSTRAINT [FK_ContractVersions_Contracts] FOREIGN KEY([ContractId])
REFERENCES [rating].[Contracts] ([ContractId])
GO
ALTER TABLE [rating].[ContractVersions] CHECK CONSTRAINT [FK_ContractVersions_Contracts]
GO
ALTER TABLE [rating].[ContractVersions]  WITH CHECK ADD  CONSTRAINT [CK_ContractVersions_Dates] CHECK  (([EffectiveEnd]>=[EffectiveStart]))
GO
ALTER TABLE [rating].[ContractVersions] CHECK CONSTRAINT [CK_ContractVersions_Dates]
GO
ALTER TABLE [rating].[ContractVersions]  WITH CHECK ADD  CONSTRAINT [CK_ContractVersions_Status] CHECK  (([PublishStatus]='RETIRED' OR [PublishStatus]='PUBLISHED' OR [PublishStatus]='DRAFT'))
GO
ALTER TABLE [rating].[ContractVersions] CHECK CONSTRAINT [CK_ContractVersions_Status]
GO
