USE [RatingDb]
GO
/****** Object:  Table [rating].[LtlDiscountRules]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[LtlDiscountRules](
	[LtlDiscountRuleId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[NmfcClass] [int] NULL,
	[DiscountPercent] [decimal](18, 6) NOT NULL,
	[MinChargeOverride] [decimal](18, 6) NULL,
	[ConditionsJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_LtlDiscountRules] PRIMARY KEY CLUSTERED 
(
	[LtlDiscountRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_LtlDiscountRules_ByVersion]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_LtlDiscountRules_ByVersion] ON [rating].[LtlDiscountRules]
(
	[ContractVersionId] ASC,
	[NmfcClass] ASC
)
INCLUDE([DiscountPercent],[MinChargeOverride]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[LtlDiscountRules]  WITH CHECK ADD  CONSTRAINT [FK_LtlDiscountRules_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[LtlDiscountRules] CHECK CONSTRAINT [FK_LtlDiscountRules_ContractVersions]
GO
ALTER TABLE [rating].[LtlDiscountRules]  WITH CHECK ADD  CONSTRAINT [CK_LtlDiscountRules_Discount] CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [rating].[LtlDiscountRules] CHECK CONSTRAINT [CK_LtlDiscountRules_Discount]
GO
