USE [RatingDb]
GO
/****** Object:  Table [rating].[Locations]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[Locations](
	[LocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Address1] [nvarchar](200) NULL,
	[Address2] [nvarchar](200) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[CountryCode] [nvarchar](2) NOT NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[UNLocode] [nvarchar](10) NULL,
	[AirportCode] [nvarchar](5) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [rating].[Locations] ADD  CONSTRAINT [DF_Locations_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[Locations]  WITH CHECK ADD  CONSTRAINT [CK_Locations_CountryCode] CHECK  ((len([CountryCode])=(2)))
GO
ALTER TABLE [rating].[Locations] CHECK CONSTRAINT [CK_Locations_CountryCode]
GO
