USE [RatingDb]
GO
/****** Object:  Table [rating].[FclContainerRates]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[FclContainerRates](
	[FclContainerRateId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[OriginPort] [nvarchar](10) NOT NULL,
	[DestPort] [nvarchar](10) NOT NULL,
	[ContainerType] [nvarchar](20) NOT NULL,
	[BaseRate] [decimal](18, 6) NOT NULL,
	[FreeDays] [int] NULL,
	[ConstraintsJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_FclContainerRates] PRIMARY KEY CLUSTERED 
(
	[FclContainerRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FclContainerRates_Lookup]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_FclContainerRates_Lookup] ON [rating].[FclContainerRates]
(
	[ContractVersionId] ASC,
	[OriginPort] ASC,
	[DestPort] ASC,
	[ContainerType] ASC
)
INCLUDE([BaseRate],[FreeDays]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[FclContainerRates]  WITH CHECK ADD  CONSTRAINT [FK_FclContainerRates_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[FclContainerRates] CHECK CONSTRAINT [FK_FclContainerRates_ContractVersions]
GO
