USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_BumpCacheNamespace]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -----------------------------
   3) Bump namespace version
      - Increments VersionNo atomically
      - Creates row if missing
   ----------------------------- */
CREATE   PROCEDURE [rating].[usp_BumpCacheNamespace]
(
    @NamespaceKey NVARCHAR(200),
    @UpdatedBy    VARCHAR(450) = NULL,
    @Note         NVARCHAR(500) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Who VARCHAR(450) = COALESCE(@UpdatedBy, TRY_CONVERT(VARCHAR(450), SESSION_CONTEXT(N'UserId')), 'SYSTEM');

    BEGIN TRY
        BEGIN TRAN;

        -- Lock the row/key range
        IF EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @NamespaceKey)
        BEGIN
            UPDATE rating.CacheNamespaces
               SET VersionNo = VersionNo + 1,
                   UpdatedAt = SYSUTCDATETIME(),
                   UpdatedBy = @Who,
                   Note      = @Note
             WHERE NamespaceKey = @NamespaceKey;
        END
        ELSE
        BEGIN
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@NamespaceKey, 2, SYSUTCDATETIME(), @Who, @Note); -- first bump => version 2
        END

        SELECT NamespaceKey, VersionNo, UpdatedAt
        FROM rating.CacheNamespaces
        WHERE NamespaceKey = @NamespaceKey;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('usp_BumpCacheNamespace failed: %s', 16, 1, @Err);
    END CATCH
END
GO
