USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_PublishContractVersion_Hash]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -----------------------------
   6) Integrate with Publish procedure
      - If you use rating.usp_PublishContractVersion_Hash (recommended),
        update it to bump namespaces after publish + eligibility rebuild.
   ----------------------------- */
CREATE   PROCEDURE [rating].[usp_PublishContractVersion_Hash]
(
    @ContractVersionId BIGINT,
    @PublishedBy       NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Who VARCHAR(450) = COALESCE(TRY_CONVERT(VARCHAR(450), SESSION_CONTEXT(N'UserId')), 'SYSTEM');

    BEGIN TRY
        BEGIN TRAN;

        IF NOT EXISTS (
            SELECT 1
            FROM rating.ContractVersions
            WHERE ContractVersionId = @ContractVersionId
              AND PublishStatus IN ('DRAFT','RETIRED')
        )
        BEGIN
            RAISERROR('ContractVersionId not found or not publishable.', 16, 1);
            ROLLBACK;
            RETURN;
        END

        UPDATE rating.ContractVersions
        SET PublishStatus = 'PUBLISHED',
            PublishedAt = SYSUTCDATETIME(),
            CreatedBy = COALESCE(@PublishedBy, CreatedBy)
        WHERE ContractVersionId = @ContractVersionId;

        -- Rebuild lane eligibility + hash
        EXEC rating.usp_RebuildContractLaneEligibility_Hash @ContractVersionId = @ContractVersionId;

        COMMIT TRAN;

        -- Bump cache namespaces OUTSIDE the transaction (avoids holding locks longer than needed)
        EXEC rating.usp_BumpNamespacesForContractVersion
            @ContractVersionId = @ContractVersionId,
            @Note = N'ContractVersion published (lane eligibility rebuilt)';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('usp_PublishContractVersion_Hash failed: %s', 16, 1, @Err);
    END CATCH
END
GO
