USE [RatingDb]
GO
/****** Object:  StoredProcedure [rating].[usp_GetCacheNamespaceVersion]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -----------------------------
   2) Get current namespace version
      - Creates row at VersionNo=1 if missing
   ----------------------------- */
CREATE   PROCEDURE [rating].[usp_GetCacheNamespaceVersion]
(
    @NamespaceKey NVARCHAR(200)
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Use SERIALIZABLE-like behavior for single-row upsert without race
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    BEGIN TRY
        BEGIN TRAN;

        IF NOT EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @NamespaceKey)
        BEGIN
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@NamespaceKey, 1, SYSUTCDATETIME(), 'SYSTEM', 'Auto-created');
        END

        SELECT NamespaceKey, VersionNo, UpdatedAt
        FROM rating.CacheNamespaces
        WHERE NamespaceKey = @NamespaceKey;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('usp_GetCacheNamespaceVersion failed: %s', 16, 1, @Err);
    END CATCH
END
GO
