USE [RatingDb]
GO
/****** Object:  Table [rating].[ContractStatusHistory]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[ContractStatusHistory](
	[ContractStatusHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractId] [bigint] NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[ChangedAt] [datetime2](3) NOT NULL,
	[FromStatus] [nvarchar](20) NULL,
	[ToStatus] [nvarchar](20) NOT NULL,
	[UserId] [varchar](450) NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContractStatusHistory] PRIMARY KEY CLUSTERED 
(
	[ContractStatusHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractStatusHistory_ContractId_ChangedAt]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContractStatusHistory_ContractId_ChangedAt] ON [rating].[ContractStatusHistory]
(
	[ContractId] ASC,
	[ChangedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[ContractStatusHistory] ADD  CONSTRAINT [DF_ContractStatusHistory_ChangedAt]  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [rating].[ContractStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_ContractStatusHistory_Contracts] FOREIGN KEY([ContractId])
REFERENCES [rating].[Contracts] ([ContractId])
GO
ALTER TABLE [rating].[ContractStatusHistory] CHECK CONSTRAINT [FK_ContractStatusHistory_Contracts]
GO
ALTER TABLE [rating].[ContractStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_ContractStatusHistory_ContractVersion] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[ContractStatusHistory] CHECK CONSTRAINT [FK_ContractStatusHistory_ContractVersion]
GO
