USE [RatingDb]
GO
/****** Object:  Table [rating].[RateQuoteChargeLines]    Script Date: 2/13/2026 7:33:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[RateQuoteChargeLines](
	[RateQuoteChargeLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[RateQuoteResultId] [bigint] NOT NULL,
	[SequenceNo] [int] NOT NULL,
	[CanonicalChargeType] [nvarchar](30) NOT NULL,
	[AccessorialCode] [nvarchar](50) NULL,
	[EdiStandard] [nvarchar](10) NULL,
	[EdiChargeCode] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[Quantity] [decimal](18, 6) NULL,
	[Rate] [decimal](18, 6) NULL,
	[Amount] [decimal](18, 6) NOT NULL,
	[ApplyTo] [nvarchar](30) NULL,
	[StopSequence] [int] NULL,
	[LegSequence] [int] NULL,
	[DetailJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_RateQuoteChargeLines] PRIMARY KEY CLUSTERED 
(
	[RateQuoteChargeLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_RateQuoteChargeLines_ResultSeq]    Script Date: 2/13/2026 7:33:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_RateQuoteChargeLines_ResultSeq] ON [rating].[RateQuoteChargeLines]
(
	[RateQuoteResultId] ASC,
	[SequenceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[RateQuoteChargeLines]  WITH CHECK ADD  CONSTRAINT [FK_RQCL_Result] FOREIGN KEY([RateQuoteResultId])
REFERENCES [rating].[RateQuoteResults] ([RateQuoteResultId])
GO
ALTER TABLE [rating].[RateQuoteChargeLines] CHECK CONSTRAINT [FK_RQCL_Result]
GO
ALTER TABLE [rating].[RateQuoteChargeLines]  WITH CHECK ADD  CONSTRAINT [CK_RQCL_CanonicalChargeType] CHECK  (([CanonicalChargeType]='OTHER' OR [CanonicalChargeType]='TAX' OR [CanonicalChargeType]='DISCOUNT' OR [CanonicalChargeType]='ACCESSORIAL' OR [CanonicalChargeType]='FUEL' OR [CanonicalChargeType]='LINEHAUL'))
GO
ALTER TABLE [rating].[RateQuoteChargeLines] CHECK CONSTRAINT [CK_RQCL_CanonicalChargeType]
GO
