USE [master]
GO
/****** Object:  Database [RatingDb]    Script Date: 2/12/2026 7:09:03 AM ******/
CREATE DATABASE [RatingDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RatingDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RatingDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RatingDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RatingDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RatingDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RatingDb]
GO
/****** Object:  User [bbibik]    Script Date: 2/12/2026 7:09:03 AM ******/
CREATE USER [bbibik] FOR LOGIN [bbibik] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [rating]    Script Date: 2/12/2026 7:09:03 AM ******/
CREATE SCHEMA [rating]
GO
/****** Object:  Table [rating].[AccessorialRules]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[AccessorialRules](
	[AccessorialRuleId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[AccessorialId] [bigint] NOT NULL,
	[RuleName] [nvarchar](200) NOT NULL,
	[ConditionExpression] [nvarchar](max) NOT NULL,
	[OverrideCalcType] [nvarchar](20) NULL,
	[OverrideExpression] [nvarchar](max) NULL,
	[StackingPolicy] [nvarchar](20) NOT NULL,
	[ExclusiveGroupKey] [nvarchar](50) NULL,
	[Priority] [int] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[EffectiveDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
 CONSTRAINT [PK_AccessorialRules] PRIMARY KEY CLUSTERED 
(
	[AccessorialRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[Accessorials]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[Accessorials](
	[AccessorialId] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[ModeApplicabilityJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_Accessorials] PRIMARY KEY CLUSTERED 
(
	[AccessorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Accessorials_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[Accounts]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[Accounts](
	[AccountId] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Accounts_AccountCode] UNIQUE NONCLUSTERED 
(
	[AccountCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rating].[CacheNamespaces]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[CacheNamespaces](
	[NamespaceKey] [nvarchar](200) NOT NULL,
	[VersionNo] [bigint] NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[UpdatedBy] [varchar](450) NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_CacheNamespaces] PRIMARY KEY CLUSTERED 
(
	[NamespaceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rating].[ContractAccessorialCharges]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[ContractAccessorialCharges](
	[ContractAccessorialChargeId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[AccessorialId] [bigint] NOT NULL,
	[CalcType] [nvarchar](20) NOT NULL,
	[FlatAmount] [decimal](18, 6) NULL,
	[PercentValue] [decimal](18, 6) NULL,
	[FormulaExpression] [nvarchar](max) NULL,
	[TierTableJson] [nvarchar](max) NULL,
	[ApplyTo] [nvarchar](30) NOT NULL,
	[MinAmount] [decimal](18, 6) NULL,
	[MaxAmount] [decimal](18, 6) NULL,
	[EffectiveDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
 CONSTRAINT [PK_ContractAccessorialCharges] PRIMARY KEY CLUSTERED 
(
	[ContractAccessorialChargeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[ContractFuelRules]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[ContractFuelRules](
	[ContractFuelRuleId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[FuelScheduleId] [bigint] NOT NULL,
	[ApplyTo] [nvarchar](20) NOT NULL,
	[CalcMethod] [nvarchar](20) NOT NULL,
	[FormulaExpression] [nvarchar](max) NULL,
	[RoundingJson] [nvarchar](max) NULL,
	[EffectiveDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
 CONSTRAINT [PK_ContractFuelRules] PRIMARY KEY CLUSTERED 
(
	[ContractFuelRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[ContractLaneEligibility]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[ContractLaneEligibility](
	[ContractLaneEligibilityId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[Mode] [nvarchar](10) NOT NULL,
	[OriginZoneId] [int] NULL,
	[DestZoneId] [int] NULL,
	[OriginRegionId] [int] NULL,
	[DestRegionId] [int] NULL,
	[EquipmentType] [nvarchar](30) NULL,
	[OriginPort] [nvarchar](10) NULL,
	[DestPort] [nvarchar](10) NULL,
	[ContainerType] [nvarchar](20) NULL,
	[AllowsMultiStop] [bit] NULL,
	[MaxStops] [int] NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[LaneKeyString] [nvarchar](300) NOT NULL,
	[LaneKeyHash] [binary](32) NOT NULL,
 CONSTRAINT [PK_ContractLaneEligibility] PRIMARY KEY CLUSTERED 
(
	[ContractLaneEligibilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rating].[Contracts]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[Contracts](
	[ContractId] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountId] [bigint] NULL,
	[ProviderId] [bigint] NOT NULL,
	[Mode] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CurrencyCode] [nvarchar](3) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[PublishedDate] [date] NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[ContractStatusHistory]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[ContractStatusHistory](
	[ContractStatusHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractId] [bigint] NOT NULL,
	[ChangedAt] [datetime2](3) NOT NULL,
	[FromStatus] [nvarchar](20) NULL,
	[ToStatus] [nvarchar](20) NOT NULL,
	[UserId] [varchar](450) NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContractStatusHistory] PRIMARY KEY CLUSTERED 
(
	[ContractStatusHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[ContractVersions]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[ContractVersions](
	[ContractVersionId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractId] [bigint] NOT NULL,
	[VersionNo] [int] NOT NULL,
	[EffectiveStart] [date] NOT NULL,
	[EffectiveEnd] [date] NOT NULL,
	[PublishStatus] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[PublishedAt] [datetime2](3) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_ContractVersions] PRIMARY KEY CLUSTERED 
(
	[ContractVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ContractVersions] UNIQUE NONCLUSTERED 
(
	[ContractId] ASC,
	[VersionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[EdiChargeCodes]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[EdiChargeCodes](
	[EdiChargeCodeId] [bigint] IDENTITY(1,1) NOT NULL,
	[Standard] [nvarchar](10) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CanonicalChargeType] [nvarchar](30) NOT NULL,
	[DefaultAccessorialCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_EdiChargeCodes] PRIMARY KEY CLUSTERED 
(
	[EdiChargeCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EdiChargeCodes] UNIQUE NONCLUSTERED 
(
	[Standard] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rating].[FclContainerRates]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[FclContainerRates](
	[FclContainerRateId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[OriginPort] [nvarchar](10) NOT NULL,
	[DestPort] [nvarchar](10) NOT NULL,
	[ContainerType] [nvarchar](20) NOT NULL,
	[BaseRate] [decimal](18, 6) NOT NULL,
	[FreeDays] [int] NULL,
	[ConstraintsJson] [nvarchar](max) NULL,
	[EffectiveDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
 CONSTRAINT [PK_FclContainerRates] PRIMARY KEY CLUSTERED 
(
	[FclContainerRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[FtlLaneRates]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[FtlLaneRates](
	[FtlLaneRateId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[OriginRegionId] [int] NOT NULL,
	[DestRegionId] [int] NOT NULL,
	[EquipmentType] [nvarchar](30) NOT NULL,
	[RateType] [nvarchar](20) NOT NULL,
	[RateValue] [decimal](18, 6) NOT NULL,
	[MinimumCharge] [decimal](18, 6) NULL,
	[IncludedStops] [int] NOT NULL,
	[ConstraintsJson] [nvarchar](max) NULL,
	[EffectiveDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
 CONSTRAINT [PK_FtlLaneRates] PRIMARY KEY CLUSTERED 
(
	[FtlLaneRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[FuelScheduleRows]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[FuelScheduleRows](
	[FuelScheduleRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[FuelScheduleId] [bigint] NOT NULL,
	[EffectiveStart] [date] NOT NULL,
	[EffectiveEnd] [date] NOT NULL,
	[IndexMin] [decimal](18, 6) NULL,
	[IndexMax] [decimal](18, 6) NULL,
	[FuelValue] [decimal](18, 6) NOT NULL,
 CONSTRAINT [PK_FuelScheduleRows] PRIMARY KEY CLUSTERED 
(
	[FuelScheduleRowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rating].[FuelSchedules]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[FuelSchedules](
	[FuelScheduleId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IndexType] [nvarchar](20) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_FuelSchedules] PRIMARY KEY CLUSTERED 
(
	[FuelScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rating].[GeoZipZone]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[GeoZipZone](
	[GeoZipZoneId] [bigint] IDENTITY(1,1) NOT NULL,
	[PostalCode] [nvarchar](20) NOT NULL,
	[CountryCode] [nvarchar](2) NOT NULL,
	[ZoneId] [int] NULL,
	[RegionId] [int] NULL,
	[MetroId] [int] NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_GeoZipZone] PRIMARY KEY CLUSTERED 
(
	[GeoZipZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_GeoZipZone] UNIQUE NONCLUSTERED 
(
	[PostalCode] ASC,
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rating].[LclRates]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[LclRates](
	[LclRateId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[OriginPort] [nvarchar](10) NOT NULL,
	[DestPort] [nvarchar](10) NOT NULL,
	[RateBasis] [nvarchar](10) NOT NULL,
	[RatePerWm] [decimal](18, 6) NULL,
	[RatePerLb] [decimal](18, 6) NULL,
	[MinimumCharge] [decimal](18, 6) NOT NULL,
	[BreakpointsJson] [nvarchar](max) NULL,
	[EffectiveDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
 CONSTRAINT [PK_LclRates] PRIMARY KEY CLUSTERED 
(
	[LclRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[Locations]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[Locations](
	[LocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Address1] [nvarchar](200) NULL,
	[Address2] [nvarchar](200) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[CountryCode] [nvarchar](2) NOT NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[UNLocode] [nvarchar](10) NULL,
	[AirportCode] [nvarchar](5) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rating].[LtlBaseRates]    Script Date: 2/12/2026 7:09:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[LtlBaseRates](
	[LtlBaseRateId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[OriginZoneId] [int] NOT NULL,
	[DestZoneId] [int] NOT NULL,
	[NmfcClass] [int] NOT NULL,
	[WeightMinLbs] [int] NOT NULL,
	[WeightMaxLbs] [int] NOT NULL,
	[RatePerCwt] [decimal](18, 6) NOT NULL,
	[MinimumCharge] [decimal](18, 6) NULL,
	[DeficitRuleJson] [nvarchar](max) NULL,
	[EffectiveDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
 CONSTRAINT [PK_LtlBaseRates] PRIMARY KEY CLUSTERED 
(
	[LtlBaseRateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[LtlDiscountRules]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[LtlDiscountRules](
	[LtlDiscountRuleId] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[NmfcClass] [int] NULL,
	[DiscountPercent] [decimal](18, 6) NOT NULL,
	[MinChargeOverride] [decimal](18, 6) NULL,
	[ConditionsJson] [nvarchar](max) NULL,
	[EffectiveDate] [date] NOT NULL,
	[ExpirationDate] [date] NOT NULL,
 CONSTRAINT [PK_LtlDiscountRules] PRIMARY KEY CLUSTERED 
(
	[LtlDiscountRuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[Providers]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[Providers](
	[ProviderId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProviderCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ModeCapabilitiesJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Providers] PRIMARY KEY CLUSTERED 
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Providers_ProviderCode] UNIQUE NONCLUSTERED 
(
	[ProviderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[RateQuoteChargeLines]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[RateQuoteChargeLines](
	[RateQuoteChargeLineId] [bigint] IDENTITY(1,1) NOT NULL,
	[RateQuoteResultId] [bigint] NOT NULL,
	[SequenceNo] [int] NOT NULL,
	[CanonicalChargeType] [nvarchar](30) NOT NULL,
	[AccessorialCode] [nvarchar](50) NULL,
	[EdiStandard] [nvarchar](10) NULL,
	[EdiChargeCode] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[Quantity] [decimal](18, 6) NULL,
	[Rate] [decimal](18, 6) NULL,
	[Amount] [decimal](18, 6) NOT NULL,
	[ApplyTo] [nvarchar](30) NULL,
	[StopSequence] [int] NULL,
	[LegSequence] [int] NULL,
	[DetailJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_RateQuoteChargeLines] PRIMARY KEY CLUSTERED 
(
	[RateQuoteChargeLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rating].[RateQuoteResults]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[RateQuoteResults](
	[RateQuoteResultId] [bigint] IDENTITY(1,1) NOT NULL,
	[RateQuoteId] [bigint] NOT NULL,
	[ProviderId] [bigint] NOT NULL,
	[ContractId] [bigint] NOT NULL,
	[ContractVersionId] [bigint] NOT NULL,
	[Rank] [int] NOT NULL,
	[TotalAmount] [decimal](18, 6) NOT NULL,
	[TransitDays] [int] NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_RateQuoteResults] PRIMARY KEY CLUSTERED 
(
	[RateQuoteResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rating].[RateQuotes]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rating].[RateQuotes](
	[RateQuoteId] [bigint] IDENTITY(1,1) NOT NULL,
	[RequestId] [uniqueidentifier] NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[Mode] [nvarchar](10) NOT NULL,
	[CurrencyCode] [nvarchar](3) NOT NULL,
	[RateDate] [date] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_RateQuotes] PRIMARY KEY CLUSTERED 
(
	[RateQuoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccessorialRules_ByVersion]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_AccessorialRules_ByVersion] ON [rating].[AccessorialRules]
(
	[ContractVersionId] ASC,
	[IsEnabled] ASC,
	[Priority] ASC
)
INCLUDE([AccessorialId],[StackingPolicy],[ExclusiveGroupKey]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CacheNamespaces_UpdatedAt]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_CacheNamespaces_UpdatedAt] ON [rating].[CacheNamespaces]
(
	[UpdatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_CAC_VersionAccessorial]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CAC_VersionAccessorial] ON [rating].[ContractAccessorialCharges]
(
	[ContractVersionId] ASC,
	[AccessorialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractFuelRules_ByVersion]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContractFuelRules_ByVersion] ON [rating].[ContractFuelRules]
(
	[ContractVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLE_FCL]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_CLE_FCL] ON [rating].[ContractLaneEligibility]
(
	[Mode] ASC,
	[OriginPort] ASC,
	[DestPort] ASC,
	[ContainerType] ASC,
	[ContractVersionId] ASC
)
WHERE ([Mode]='FCL')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLE_FTL]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_CLE_FTL] ON [rating].[ContractLaneEligibility]
(
	[Mode] ASC,
	[OriginRegionId] ASC,
	[DestRegionId] ASC,
	[EquipmentType] ASC,
	[ContractVersionId] ASC
)
WHERE ([Mode]='FTL')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLE_LCL]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_CLE_LCL] ON [rating].[ContractLaneEligibility]
(
	[Mode] ASC,
	[OriginPort] ASC,
	[DestPort] ASC,
	[ContractVersionId] ASC
)
WHERE ([Mode]='LCL')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLE_LTL]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_CLE_LTL] ON [rating].[ContractLaneEligibility]
(
	[Mode] ASC,
	[OriginZoneId] ASC,
	[DestZoneId] ASC,
	[ContractVersionId] ASC
)
WHERE ([Mode]='LTL')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLE_Mode_LaneKeyHash]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_CLE_Mode_LaneKeyHash] ON [rating].[ContractLaneEligibility]
(
	[Mode] ASC,
	[LaneKeyHash] ASC
)
INCLUDE([ContractVersionId],[LaneKeyString]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_CLE_UniqueLanePerVersion]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CLE_UniqueLanePerVersion] ON [rating].[ContractLaneEligibility]
(
	[ContractVersionId] ASC,
	[Mode] ASC,
	[OriginZoneId] ASC,
	[DestZoneId] ASC,
	[OriginRegionId] ASC,
	[DestRegionId] ASC,
	[EquipmentType] ASC,
	[OriginPort] ASC,
	[DestPort] ASC,
	[ContainerType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_CLE_Version_Mode_LaneKeyHash]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CLE_Version_Mode_LaneKeyHash] ON [rating].[ContractLaneEligibility]
(
	[ContractVersionId] ASC,
	[Mode] ASC,
	[LaneKeyHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Contracts_AccountMode]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Contracts_AccountMode] ON [rating].[Contracts]
(
	[AccountId] ASC,
	[Mode] ASC,
	[ProviderId] ASC
)
INCLUDE([Status],[CurrencyCode]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractStatusHistory_ContractId_ChangedAt]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContractStatusHistory_ContractId_ChangedAt] ON [rating].[ContractStatusHistory]
(
	[ContractId] ASC,
	[ChangedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ContractVersions_ActivePublished]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContractVersions_ActivePublished] ON [rating].[ContractVersions]
(
	[ContractId] ASC,
	[PublishStatus] ASC,
	[EffectiveStart] ASC,
	[EffectiveEnd] ASC
)
INCLUDE([VersionNo],[PublishedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContractVersions_PublishedOnly]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContractVersions_PublishedOnly] ON [rating].[ContractVersions]
(
	[ContractId] ASC,
	[EffectiveStart] ASC,
	[EffectiveEnd] ASC
)
INCLUDE([VersionNo]) 
WHERE ([PublishStatus]='PUBLISHED')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FclContainerRates_Lookup]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_FclContainerRates_Lookup] ON [rating].[FclContainerRates]
(
	[ContractVersionId] ASC,
	[OriginPort] ASC,
	[DestPort] ASC,
	[ContainerType] ASC
)
INCLUDE([BaseRate],[FreeDays]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FtlLaneRates_Lookup]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_FtlLaneRates_Lookup] ON [rating].[FtlLaneRates]
(
	[ContractVersionId] ASC,
	[OriginRegionId] ASC,
	[DestRegionId] ASC,
	[EquipmentType] ASC
)
INCLUDE([RateType],[RateValue],[MinimumCharge],[IncludedStops]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FuelScheduleRows_Lookup]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_FuelScheduleRows_Lookup] ON [rating].[FuelScheduleRows]
(
	[FuelScheduleId] ASC,
	[EffectiveStart] ASC,
	[EffectiveEnd] ASC,
	[IndexMin] ASC,
	[IndexMax] ASC
)
INCLUDE([FuelValue]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_GeoZipZone_PostalCountry]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_GeoZipZone_PostalCountry] ON [rating].[GeoZipZone]
(
	[PostalCode] ASC,
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LclRates_Lookup]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_LclRates_Lookup] ON [rating].[LclRates]
(
	[ContractVersionId] ASC,
	[OriginPort] ASC,
	[DestPort] ASC,
	[RateBasis] ASC
)
INCLUDE([RatePerWm],[RatePerLb],[MinimumCharge]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LtlBaseRates_Lookup]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_LtlBaseRates_Lookup] ON [rating].[LtlBaseRates]
(
	[ContractVersionId] ASC,
	[OriginZoneId] ASC,
	[DestZoneId] ASC,
	[NmfcClass] ASC,
	[WeightMinLbs] ASC,
	[WeightMaxLbs] ASC
)
INCLUDE([RatePerCwt],[MinimumCharge]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LtlDiscountRules_ByVersion]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_LtlDiscountRules_ByVersion] ON [rating].[LtlDiscountRules]
(
	[ContractVersionId] ASC,
	[NmfcClass] ASC
)
INCLUDE([DiscountPercent],[MinChargeOverride]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RateQuoteChargeLines_ResultSeq]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_RateQuoteChargeLines_ResultSeq] ON [rating].[RateQuoteChargeLines]
(
	[RateQuoteResultId] ASC,
	[SequenceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RateQuoteResults_ByQuoteRank]    Script Date: 2/12/2026 7:09:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_RateQuoteResults_ByQuoteRank] ON [rating].[RateQuoteResults]
(
	[RateQuoteId] ASC,
	[Rank] ASC
)
INCLUDE([TotalAmount],[ProviderId],[ContractId],[ContractVersionId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rating].[AccessorialRules] ADD  CONSTRAINT [DF_AccessorialRules_Stacking]  DEFAULT ('ADD') FOR [StackingPolicy]
GO
ALTER TABLE [rating].[AccessorialRules] ADD  CONSTRAINT [DF_AccessorialRules_Priority]  DEFAULT ((100)) FOR [Priority]
GO
ALTER TABLE [rating].[AccessorialRules] ADD  CONSTRAINT [DF_AccessorialRules_IsEnabled]  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [rating].[AccessorialRules] ADD  CONSTRAINT [DF_AccessorialRules_EffectiveDate]  DEFAULT (CONVERT([date],'19000101')) FOR [EffectiveDate]
GO
ALTER TABLE [rating].[AccessorialRules] ADD  CONSTRAINT [DF_AccessorialRules_ExpirationDate]  DEFAULT (CONVERT([date],'99991231')) FOR [ExpirationDate]
GO
ALTER TABLE [rating].[Accounts] ADD  CONSTRAINT [DF_Accounts_Status]  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [rating].[Accounts] ADD  CONSTRAINT [DF_Accounts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[CacheNamespaces] ADD  CONSTRAINT [DF_CacheNamespaces_VersionNo]  DEFAULT ((1)) FOR [VersionNo]
GO
ALTER TABLE [rating].[CacheNamespaces] ADD  CONSTRAINT [DF_CacheNamespaces_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [rating].[ContractAccessorialCharges] ADD  CONSTRAINT [DF_ContractAccessorialCharges_EffectiveDate]  DEFAULT (CONVERT([date],'19000101')) FOR [EffectiveDate]
GO
ALTER TABLE [rating].[ContractAccessorialCharges] ADD  CONSTRAINT [DF_ContractAccessorialCharges_ExpirationDate]  DEFAULT (CONVERT([date],'99991231')) FOR [ExpirationDate]
GO
ALTER TABLE [rating].[ContractFuelRules] ADD  CONSTRAINT [DF_ContractFuelRules_EffectiveDate]  DEFAULT (CONVERT([date],'19000101')) FOR [EffectiveDate]
GO
ALTER TABLE [rating].[ContractFuelRules] ADD  CONSTRAINT [DF_ContractFuelRules_ExpirationDate]  DEFAULT (CONVERT([date],'99991231')) FOR [ExpirationDate]
GO
ALTER TABLE [rating].[ContractLaneEligibility] ADD  CONSTRAINT [DF_CLE_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[ContractLaneEligibility] ADD  CONSTRAINT [DF_CLE_LaneKeyString]  DEFAULT ('') FOR [LaneKeyString]
GO
ALTER TABLE [rating].[ContractLaneEligibility] ADD  CONSTRAINT [DF_CLE_LaneKeyHash]  DEFAULT (0x00) FOR [LaneKeyHash]
GO
ALTER TABLE [rating].[Contracts] ADD  CONSTRAINT [DF_Contracts_Currency]  DEFAULT ('USD') FOR [CurrencyCode]
GO
ALTER TABLE [rating].[Contracts] ADD  CONSTRAINT [DF_Contracts_Status]  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [rating].[Contracts] ADD  CONSTRAINT [DF_Contracts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[Contracts] ADD  CONSTRAINT [DF_Contracts_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [rating].[ContractStatusHistory] ADD  CONSTRAINT [DF_ContractStatusHistory_ChangedAt]  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [rating].[ContractVersions] ADD  CONSTRAINT [DF_ContractVersions_PublishStatus]  DEFAULT ('DRAFT') FOR [PublishStatus]
GO
ALTER TABLE [rating].[ContractVersions] ADD  CONSTRAINT [DF_ContractVersions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[FclContainerRates] ADD  CONSTRAINT [DF_FclContainerRates_EffectiveDate]  DEFAULT (CONVERT([date],'19000101')) FOR [EffectiveDate]
GO
ALTER TABLE [rating].[FclContainerRates] ADD  CONSTRAINT [DF_FclContainerRates_ExpirationDate]  DEFAULT (CONVERT([date],'99991231')) FOR [ExpirationDate]
GO
ALTER TABLE [rating].[FtlLaneRates] ADD  CONSTRAINT [DF_FtlLaneRates_IncludedStops]  DEFAULT ((2)) FOR [IncludedStops]
GO
ALTER TABLE [rating].[FtlLaneRates] ADD  CONSTRAINT [DF_FtlLaneRates_EffectiveDate]  DEFAULT (CONVERT([date],'19000101')) FOR [EffectiveDate]
GO
ALTER TABLE [rating].[FtlLaneRates] ADD  CONSTRAINT [DF_FtlLaneRates_ExpirationDate]  DEFAULT (CONVERT([date],'99991231')) FOR [ExpirationDate]
GO
ALTER TABLE [rating].[GeoZipZone] ADD  CONSTRAINT [DF_GeoZipZone_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [rating].[LclRates] ADD  CONSTRAINT [DF_LclRates_EffectiveDate]  DEFAULT (CONVERT([date],'19000101')) FOR [EffectiveDate]
GO
ALTER TABLE [rating].[LclRates] ADD  CONSTRAINT [DF_LclRates_ExpirationDate]  DEFAULT (CONVERT([date],'99991231')) FOR [ExpirationDate]
GO
ALTER TABLE [rating].[Locations] ADD  CONSTRAINT [DF_Locations_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[LtlBaseRates] ADD  CONSTRAINT [DF_LtlBaseRates_EffectiveDate]  DEFAULT (CONVERT([date],'19000101')) FOR [EffectiveDate]
GO
ALTER TABLE [rating].[LtlBaseRates] ADD  CONSTRAINT [DF_LtlBaseRates_ExpirationDate]  DEFAULT (CONVERT([date],'99991231')) FOR [ExpirationDate]
GO
ALTER TABLE [rating].[LtlDiscountRules] ADD  CONSTRAINT [DF_LtlDiscountRules_EffectiveDate]  DEFAULT (CONVERT([date],'19000101')) FOR [EffectiveDate]
GO
ALTER TABLE [rating].[LtlDiscountRules] ADD  CONSTRAINT [DF_LtlDiscountRules_ExpirationDate]  DEFAULT (CONVERT([date],'99991231')) FOR [ExpirationDate]
GO
ALTER TABLE [rating].[Providers] ADD  CONSTRAINT [DF_Providers_Status]  DEFAULT ('ACTIVE') FOR [Status]
GO
ALTER TABLE [rating].[Providers] ADD  CONSTRAINT [DF_Providers_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[RateQuoteResults] ADD  CONSTRAINT [DF_RateQuoteResults_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[RateQuotes] ADD  CONSTRAINT [DF_RateQuotes_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [rating].[AccessorialRules]  WITH CHECK ADD  CONSTRAINT [FK_AR_Accessorials] FOREIGN KEY([AccessorialId])
REFERENCES [rating].[Accessorials] ([AccessorialId])
GO
ALTER TABLE [rating].[AccessorialRules] CHECK CONSTRAINT [FK_AR_Accessorials]
GO
ALTER TABLE [rating].[AccessorialRules]  WITH CHECK ADD  CONSTRAINT [FK_AR_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[AccessorialRules] CHECK CONSTRAINT [FK_AR_ContractVersions]
GO
ALTER TABLE [rating].[ContractAccessorialCharges]  WITH CHECK ADD  CONSTRAINT [FK_CAC_Accessorials] FOREIGN KEY([AccessorialId])
REFERENCES [rating].[Accessorials] ([AccessorialId])
GO
ALTER TABLE [rating].[ContractAccessorialCharges] CHECK CONSTRAINT [FK_CAC_Accessorials]
GO
ALTER TABLE [rating].[ContractAccessorialCharges]  WITH CHECK ADD  CONSTRAINT [FK_CAC_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[ContractAccessorialCharges] CHECK CONSTRAINT [FK_CAC_ContractVersions]
GO
ALTER TABLE [rating].[ContractFuelRules]  WITH CHECK ADD  CONSTRAINT [FK_ContractFuelRules_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[ContractFuelRules] CHECK CONSTRAINT [FK_ContractFuelRules_ContractVersions]
GO
ALTER TABLE [rating].[ContractFuelRules]  WITH CHECK ADD  CONSTRAINT [FK_ContractFuelRules_FuelSchedules] FOREIGN KEY([FuelScheduleId])
REFERENCES [rating].[FuelSchedules] ([FuelScheduleId])
GO
ALTER TABLE [rating].[ContractFuelRules] CHECK CONSTRAINT [FK_ContractFuelRules_FuelSchedules]
GO
ALTER TABLE [rating].[ContractLaneEligibility]  WITH CHECK ADD  CONSTRAINT [FK_CLE_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[ContractLaneEligibility] CHECK CONSTRAINT [FK_CLE_ContractVersions]
GO
ALTER TABLE [rating].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Accounts] FOREIGN KEY([AccountId])
REFERENCES [rating].[Accounts] ([AccountId])
GO
ALTER TABLE [rating].[Contracts] CHECK CONSTRAINT [FK_Contracts_Accounts]
GO
ALTER TABLE [rating].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Providers] FOREIGN KEY([ProviderId])
REFERENCES [rating].[Providers] ([ProviderId])
GO
ALTER TABLE [rating].[Contracts] CHECK CONSTRAINT [FK_Contracts_Providers]
GO
ALTER TABLE [rating].[ContractStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_ContractStatusHistory_Contracts] FOREIGN KEY([ContractId])
REFERENCES [rating].[Contracts] ([ContractId])
GO
ALTER TABLE [rating].[ContractStatusHistory] CHECK CONSTRAINT [FK_ContractStatusHistory_Contracts]
GO
ALTER TABLE [rating].[ContractVersions]  WITH CHECK ADD  CONSTRAINT [FK_ContractVersions_Contracts] FOREIGN KEY([ContractId])
REFERENCES [rating].[Contracts] ([ContractId])
GO
ALTER TABLE [rating].[ContractVersions] CHECK CONSTRAINT [FK_ContractVersions_Contracts]
GO
ALTER TABLE [rating].[FclContainerRates]  WITH CHECK ADD  CONSTRAINT [FK_FclContainerRates_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[FclContainerRates] CHECK CONSTRAINT [FK_FclContainerRates_ContractVersions]
GO
ALTER TABLE [rating].[FtlLaneRates]  WITH CHECK ADD  CONSTRAINT [FK_FtlLaneRates_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[FtlLaneRates] CHECK CONSTRAINT [FK_FtlLaneRates_ContractVersions]
GO
ALTER TABLE [rating].[FuelScheduleRows]  WITH CHECK ADD  CONSTRAINT [FK_FuelScheduleRows_FuelSchedules] FOREIGN KEY([FuelScheduleId])
REFERENCES [rating].[FuelSchedules] ([FuelScheduleId])
GO
ALTER TABLE [rating].[FuelScheduleRows] CHECK CONSTRAINT [FK_FuelScheduleRows_FuelSchedules]
GO
ALTER TABLE [rating].[LclRates]  WITH CHECK ADD  CONSTRAINT [FK_LclRates_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[LclRates] CHECK CONSTRAINT [FK_LclRates_ContractVersions]
GO
ALTER TABLE [rating].[LtlBaseRates]  WITH CHECK ADD  CONSTRAINT [FK_LtlBaseRates_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[LtlBaseRates] CHECK CONSTRAINT [FK_LtlBaseRates_ContractVersions]
GO
ALTER TABLE [rating].[LtlDiscountRules]  WITH CHECK ADD  CONSTRAINT [FK_LtlDiscountRules_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[LtlDiscountRules] CHECK CONSTRAINT [FK_LtlDiscountRules_ContractVersions]
GO
ALTER TABLE [rating].[RateQuoteChargeLines]  WITH CHECK ADD  CONSTRAINT [FK_RQCL_Result] FOREIGN KEY([RateQuoteResultId])
REFERENCES [rating].[RateQuoteResults] ([RateQuoteResultId])
GO
ALTER TABLE [rating].[RateQuoteChargeLines] CHECK CONSTRAINT [FK_RQCL_Result]
GO
ALTER TABLE [rating].[RateQuoteResults]  WITH CHECK ADD  CONSTRAINT [FK_RQR_Contracts] FOREIGN KEY([ContractId])
REFERENCES [rating].[Contracts] ([ContractId])
GO
ALTER TABLE [rating].[RateQuoteResults] CHECK CONSTRAINT [FK_RQR_Contracts]
GO
ALTER TABLE [rating].[RateQuoteResults]  WITH CHECK ADD  CONSTRAINT [FK_RQR_ContractVersions] FOREIGN KEY([ContractVersionId])
REFERENCES [rating].[ContractVersions] ([ContractVersionId])
GO
ALTER TABLE [rating].[RateQuoteResults] CHECK CONSTRAINT [FK_RQR_ContractVersions]
GO
ALTER TABLE [rating].[RateQuoteResults]  WITH CHECK ADD  CONSTRAINT [FK_RQR_Providers] FOREIGN KEY([ProviderId])
REFERENCES [rating].[Providers] ([ProviderId])
GO
ALTER TABLE [rating].[RateQuoteResults] CHECK CONSTRAINT [FK_RQR_Providers]
GO
ALTER TABLE [rating].[RateQuoteResults]  WITH CHECK ADD  CONSTRAINT [FK_RQR_RateQuotes] FOREIGN KEY([RateQuoteId])
REFERENCES [rating].[RateQuotes] ([RateQuoteId])
GO
ALTER TABLE [rating].[RateQuoteResults] CHECK CONSTRAINT [FK_RQR_RateQuotes]
GO
ALTER TABLE [rating].[RateQuotes]  WITH CHECK ADD  CONSTRAINT [FK_RateQuotes_Accounts] FOREIGN KEY([AccountId])
REFERENCES [rating].[Accounts] ([AccountId])
GO
ALTER TABLE [rating].[RateQuotes] CHECK CONSTRAINT [FK_RateQuotes_Accounts]
GO
ALTER TABLE [rating].[AccessorialRules]  WITH CHECK ADD  CONSTRAINT [CK_AccessorialRules_DateRange] CHECK  (([ExpirationDate]>=[EffectiveDate]))
GO
ALTER TABLE [rating].[AccessorialRules] CHECK CONSTRAINT [CK_AccessorialRules_DateRange]
GO
ALTER TABLE [rating].[AccessorialRules]  WITH CHECK ADD  CONSTRAINT [CK_AR_OverrideCalcType] CHECK  (([OverrideCalcType] IS NULL OR ([OverrideCalcType]='FORMULA' OR [OverrideCalcType]='PERCENT' OR [OverrideCalcType]='FLAT')))
GO
ALTER TABLE [rating].[AccessorialRules] CHECK CONSTRAINT [CK_AR_OverrideCalcType]
GO
ALTER TABLE [rating].[AccessorialRules]  WITH CHECK ADD  CONSTRAINT [CK_AR_StackingPolicy] CHECK  (([StackingPolicy]='EXCLUSIVE_GROUP' OR [StackingPolicy]='REPLACE' OR [StackingPolicy]='ADD'))
GO
ALTER TABLE [rating].[AccessorialRules] CHECK CONSTRAINT [CK_AR_StackingPolicy]
GO
ALTER TABLE [rating].[Accounts]  WITH CHECK ADD  CONSTRAINT [CK_Accounts_Status] CHECK  (([Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [rating].[Accounts] CHECK CONSTRAINT [CK_Accounts_Status]
GO
ALTER TABLE [rating].[ContractAccessorialCharges]  WITH CHECK ADD  CONSTRAINT [CK_CAC_ApplyTo] CHECK  (([ApplyTo]='LEG_LINEHAUL' OR [ApplyTo]='TOTAL' OR [ApplyTo]='FREIGHT' OR [ApplyTo]='LINEHAUL'))
GO
ALTER TABLE [rating].[ContractAccessorialCharges] CHECK CONSTRAINT [CK_CAC_ApplyTo]
GO
ALTER TABLE [rating].[ContractAccessorialCharges]  WITH CHECK ADD  CONSTRAINT [CK_CAC_CalcType] CHECK  (([CalcType]='TIERED' OR [CalcType]='FORMULA' OR [CalcType]='PERCENT' OR [CalcType]='FLAT'))
GO
ALTER TABLE [rating].[ContractAccessorialCharges] CHECK CONSTRAINT [CK_CAC_CalcType]
GO
ALTER TABLE [rating].[ContractAccessorialCharges]  WITH CHECK ADD  CONSTRAINT [CK_CAC_MinMax] CHECK  (([MaxAmount] IS NULL OR [MinAmount] IS NULL OR [MaxAmount]>=[MinAmount]))
GO
ALTER TABLE [rating].[ContractAccessorialCharges] CHECK CONSTRAINT [CK_CAC_MinMax]
GO
ALTER TABLE [rating].[ContractAccessorialCharges]  WITH CHECK ADD  CONSTRAINT [CK_ContractAccessorialCharges_DateRange] CHECK  (([ExpirationDate]>=[EffectiveDate]))
GO
ALTER TABLE [rating].[ContractAccessorialCharges] CHECK CONSTRAINT [CK_ContractAccessorialCharges_DateRange]
GO
ALTER TABLE [rating].[ContractFuelRules]  WITH CHECK ADD  CONSTRAINT [CK_ContractFuelRules_ApplyTo] CHECK  (([ApplyTo]='TOTAL' OR [ApplyTo]='FREIGHT' OR [ApplyTo]='LINEHAUL'))
GO
ALTER TABLE [rating].[ContractFuelRules] CHECK CONSTRAINT [CK_ContractFuelRules_ApplyTo]
GO
ALTER TABLE [rating].[ContractFuelRules]  WITH CHECK ADD  CONSTRAINT [CK_ContractFuelRules_CalcMethod] CHECK  (([CalcMethod]='FORMULA' OR [CalcMethod]='FLAT' OR [CalcMethod]='PER_MILE' OR [CalcMethod]='PERCENT'))
GO
ALTER TABLE [rating].[ContractFuelRules] CHECK CONSTRAINT [CK_ContractFuelRules_CalcMethod]
GO
ALTER TABLE [rating].[ContractFuelRules]  WITH CHECK ADD  CONSTRAINT [CK_ContractFuelRules_DateRange] CHECK  (([ExpirationDate]>=[EffectiveDate]))
GO
ALTER TABLE [rating].[ContractFuelRules] CHECK CONSTRAINT [CK_ContractFuelRules_DateRange]
GO
ALTER TABLE [rating].[ContractLaneEligibility]  WITH CHECK ADD  CONSTRAINT [CK_CLE_LaneKeyString_NotEmpty] CHECK  ((len([LaneKeyString])>(0)))
GO
ALTER TABLE [rating].[ContractLaneEligibility] CHECK CONSTRAINT [CK_CLE_LaneKeyString_NotEmpty]
GO
ALTER TABLE [rating].[ContractLaneEligibility]  WITH CHECK ADD  CONSTRAINT [CK_CLE_Mode] CHECK  (([Mode]='LCL' OR [Mode]='FCL' OR [Mode]='FTL' OR [Mode]='LTL'))
GO
ALTER TABLE [rating].[ContractLaneEligibility] CHECK CONSTRAINT [CK_CLE_Mode]
GO
ALTER TABLE [rating].[ContractLaneEligibility]  WITH CHECK ADD  CONSTRAINT [CK_CLE_ModeColumns] CHECK  (([Mode]='LTL' AND [OriginZoneId] IS NOT NULL AND [DestZoneId] IS NOT NULL AND [OriginRegionId] IS NULL AND [DestRegionId] IS NULL AND [EquipmentType] IS NULL AND [OriginPort] IS NULL AND [DestPort] IS NULL AND [ContainerType] IS NULL OR [Mode]='FTL' AND [OriginRegionId] IS NOT NULL AND [DestRegionId] IS NOT NULL AND [EquipmentType] IS NOT NULL AND [OriginZoneId] IS NULL AND [DestZoneId] IS NULL AND [OriginPort] IS NULL AND [DestPort] IS NULL AND [ContainerType] IS NULL OR [Mode]='FCL' AND [OriginPort] IS NOT NULL AND [DestPort] IS NOT NULL AND [ContainerType] IS NOT NULL AND [OriginZoneId] IS NULL AND [DestZoneId] IS NULL AND [OriginRegionId] IS NULL AND [DestRegionId] IS NULL AND [EquipmentType] IS NULL OR [Mode]='LCL' AND [OriginPort] IS NOT NULL AND [DestPort] IS NOT NULL AND [ContainerType] IS NULL AND [OriginZoneId] IS NULL AND [DestZoneId] IS NULL AND [OriginRegionId] IS NULL AND [DestRegionId] IS NULL AND [EquipmentType] IS NULL))
GO
ALTER TABLE [rating].[ContractLaneEligibility] CHECK CONSTRAINT [CK_CLE_ModeColumns]
GO
ALTER TABLE [rating].[Contracts]  WITH CHECK ADD  CONSTRAINT [CK_Contracts_Currency] CHECK  ((len([CurrencyCode])=(3)))
GO
ALTER TABLE [rating].[Contracts] CHECK CONSTRAINT [CK_Contracts_Currency]
GO
ALTER TABLE [rating].[Contracts]  WITH CHECK ADD  CONSTRAINT [CK_Contracts_Mode] CHECK  (([Mode]='LCL' OR [Mode]='FCL' OR [Mode]='FTL' OR [Mode]='LTL'))
GO
ALTER TABLE [rating].[Contracts] CHECK CONSTRAINT [CK_Contracts_Mode]
GO
ALTER TABLE [rating].[Contracts]  WITH CHECK ADD  CONSTRAINT [CK_Contracts_Status] CHECK  (([Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [rating].[Contracts] CHECK CONSTRAINT [CK_Contracts_Status]
GO
ALTER TABLE [rating].[Contracts]  WITH CHECK ADD  CONSTRAINT [CK_Contracts_Status_Enum] CHECK  (([Status]=N'published' OR [Status]=N'staged' OR [Status]=N'accepted' OR [Status]=N'proposed' OR [Status]=N'initial'))
GO
ALTER TABLE [rating].[Contracts] CHECK CONSTRAINT [CK_Contracts_Status_Enum]
GO
ALTER TABLE [rating].[ContractVersions]  WITH CHECK ADD  CONSTRAINT [CK_ContractVersions_Dates] CHECK  (([EffectiveEnd]>=[EffectiveStart]))
GO
ALTER TABLE [rating].[ContractVersions] CHECK CONSTRAINT [CK_ContractVersions_Dates]
GO
ALTER TABLE [rating].[ContractVersions]  WITH CHECK ADD  CONSTRAINT [CK_ContractVersions_Status] CHECK  (([PublishStatus]='RETIRED' OR [PublishStatus]='PUBLISHED' OR [PublishStatus]='DRAFT'))
GO
ALTER TABLE [rating].[ContractVersions] CHECK CONSTRAINT [CK_ContractVersions_Status]
GO
ALTER TABLE [rating].[EdiChargeCodes]  WITH CHECK ADD  CONSTRAINT [CK_EdiChargeCodes_CanonicalType] CHECK  (([CanonicalChargeType]='OTHER' OR [CanonicalChargeType]='TAX' OR [CanonicalChargeType]='DISCOUNT' OR [CanonicalChargeType]='ACCESSORIAL' OR [CanonicalChargeType]='FUEL' OR [CanonicalChargeType]='LINEHAUL'))
GO
ALTER TABLE [rating].[EdiChargeCodes] CHECK CONSTRAINT [CK_EdiChargeCodes_CanonicalType]
GO
ALTER TABLE [rating].[EdiChargeCodes]  WITH CHECK ADD  CONSTRAINT [CK_EdiChargeCodes_Standard] CHECK  (([Standard]='BOTH' OR [Standard]='211' OR [Standard]='210'))
GO
ALTER TABLE [rating].[EdiChargeCodes] CHECK CONSTRAINT [CK_EdiChargeCodes_Standard]
GO
ALTER TABLE [rating].[FclContainerRates]  WITH CHECK ADD  CONSTRAINT [CK_FclContainerRates_DateRange] CHECK  (([ExpirationDate]>=[EffectiveDate]))
GO
ALTER TABLE [rating].[FclContainerRates] CHECK CONSTRAINT [CK_FclContainerRates_DateRange]
GO
ALTER TABLE [rating].[FtlLaneRates]  WITH CHECK ADD  CONSTRAINT [CK_FtlLaneRates_DateRange] CHECK  (([ExpirationDate]>=[EffectiveDate]))
GO
ALTER TABLE [rating].[FtlLaneRates] CHECK CONSTRAINT [CK_FtlLaneRates_DateRange]
GO
ALTER TABLE [rating].[FtlLaneRates]  WITH CHECK ADD  CONSTRAINT [CK_FtlLaneRates_IncludedStops] CHECK  (([IncludedStops]>=(2)))
GO
ALTER TABLE [rating].[FtlLaneRates] CHECK CONSTRAINT [CK_FtlLaneRates_IncludedStops]
GO
ALTER TABLE [rating].[FtlLaneRates]  WITH CHECK ADD  CONSTRAINT [CK_FtlLaneRates_RateType] CHECK  (([RateType]='PER_LOAD' OR [RateType]='PER_MILE'))
GO
ALTER TABLE [rating].[FtlLaneRates] CHECK CONSTRAINT [CK_FtlLaneRates_RateType]
GO
ALTER TABLE [rating].[FuelScheduleRows]  WITH CHECK ADD  CONSTRAINT [CK_FuelScheduleRows_Dates] CHECK  (([EffectiveEnd]>=[EffectiveStart]))
GO
ALTER TABLE [rating].[FuelScheduleRows] CHECK CONSTRAINT [CK_FuelScheduleRows_Dates]
GO
ALTER TABLE [rating].[FuelScheduleRows]  WITH CHECK ADD  CONSTRAINT [CK_FuelScheduleRows_IndexRange] CHECK  (([IndexMin] IS NULL AND [IndexMax] IS NULL OR [IndexMin] IS NOT NULL AND [IndexMax] IS NOT NULL AND [IndexMax]>=[IndexMin]))
GO
ALTER TABLE [rating].[FuelScheduleRows] CHECK CONSTRAINT [CK_FuelScheduleRows_IndexRange]
GO
ALTER TABLE [rating].[FuelSchedules]  WITH CHECK ADD  CONSTRAINT [CK_FuelSchedules_IndexType] CHECK  (([IndexType]='FIXED' OR [IndexType]='CUSTOM' OR [IndexType]='DOE_DIESEL'))
GO
ALTER TABLE [rating].[FuelSchedules] CHECK CONSTRAINT [CK_FuelSchedules_IndexType]
GO
ALTER TABLE [rating].[FuelSchedules]  WITH CHECK ADD  CONSTRAINT [CK_FuelSchedules_Unit] CHECK  (([Unit]='FLAT' OR [Unit]='AMOUNT_PER_MILE' OR [Unit]='PERCENT'))
GO
ALTER TABLE [rating].[FuelSchedules] CHECK CONSTRAINT [CK_FuelSchedules_Unit]
GO
ALTER TABLE [rating].[GeoZipZone]  WITH CHECK ADD  CONSTRAINT [CK_GeoZipZone_CountryCode] CHECK  ((len([CountryCode])=(2)))
GO
ALTER TABLE [rating].[GeoZipZone] CHECK CONSTRAINT [CK_GeoZipZone_CountryCode]
GO
ALTER TABLE [rating].[LclRates]  WITH CHECK ADD  CONSTRAINT [CK_LclRates_DateRange] CHECK  (([ExpirationDate]>=[EffectiveDate]))
GO
ALTER TABLE [rating].[LclRates] CHECK CONSTRAINT [CK_LclRates_DateRange]
GO
ALTER TABLE [rating].[LclRates]  WITH CHECK ADD  CONSTRAINT [CK_LclRates_RateBasis] CHECK  (([RateBasis]='WEIGHT' OR [RateBasis]='WM'))
GO
ALTER TABLE [rating].[LclRates] CHECK CONSTRAINT [CK_LclRates_RateBasis]
GO
ALTER TABLE [rating].[LclRates]  WITH CHECK ADD  CONSTRAINT [CK_LclRates_Rates] CHECK  (([RateBasis]='WM' AND [RatePerWm] IS NOT NULL AND [RatePerLb] IS NULL OR [RateBasis]='WEIGHT' AND [RatePerLb] IS NOT NULL AND [RatePerWm] IS NULL))
GO
ALTER TABLE [rating].[LclRates] CHECK CONSTRAINT [CK_LclRates_Rates]
GO
ALTER TABLE [rating].[Locations]  WITH CHECK ADD  CONSTRAINT [CK_Locations_CountryCode] CHECK  ((len([CountryCode])=(2)))
GO
ALTER TABLE [rating].[Locations] CHECK CONSTRAINT [CK_Locations_CountryCode]
GO
ALTER TABLE [rating].[LtlBaseRates]  WITH CHECK ADD  CONSTRAINT [CK_LtlBaseRates_Class] CHECK  (([NmfcClass]>=(50) AND [NmfcClass]<=(500)))
GO
ALTER TABLE [rating].[LtlBaseRates] CHECK CONSTRAINT [CK_LtlBaseRates_Class]
GO
ALTER TABLE [rating].[LtlBaseRates]  WITH CHECK ADD  CONSTRAINT [CK_LtlBaseRates_DateRange] CHECK  (([ExpirationDate]>=[EffectiveDate]))
GO
ALTER TABLE [rating].[LtlBaseRates] CHECK CONSTRAINT [CK_LtlBaseRates_DateRange]
GO
ALTER TABLE [rating].[LtlBaseRates]  WITH CHECK ADD  CONSTRAINT [CK_LtlBaseRates_Weight] CHECK  (([WeightMaxLbs]>=[WeightMinLbs] AND [WeightMinLbs]>(0)))
GO
ALTER TABLE [rating].[LtlBaseRates] CHECK CONSTRAINT [CK_LtlBaseRates_Weight]
GO
ALTER TABLE [rating].[LtlDiscountRules]  WITH CHECK ADD  CONSTRAINT [CK_LtlDiscountRules_DateRange] CHECK  (([ExpirationDate]>=[EffectiveDate]))
GO
ALTER TABLE [rating].[LtlDiscountRules] CHECK CONSTRAINT [CK_LtlDiscountRules_DateRange]
GO
ALTER TABLE [rating].[LtlDiscountRules]  WITH CHECK ADD  CONSTRAINT [CK_LtlDiscountRules_Discount] CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [rating].[LtlDiscountRules] CHECK CONSTRAINT [CK_LtlDiscountRules_Discount]
GO
ALTER TABLE [rating].[Providers]  WITH CHECK ADD  CONSTRAINT [CK_Providers_Status] CHECK  (([Status]='INACTIVE' OR [Status]='ACTIVE'))
GO
ALTER TABLE [rating].[Providers] CHECK CONSTRAINT [CK_Providers_Status]
GO
ALTER TABLE [rating].[RateQuoteChargeLines]  WITH CHECK ADD  CONSTRAINT [CK_RQCL_CanonicalChargeType] CHECK  (([CanonicalChargeType]='OTHER' OR [CanonicalChargeType]='TAX' OR [CanonicalChargeType]='DISCOUNT' OR [CanonicalChargeType]='ACCESSORIAL' OR [CanonicalChargeType]='FUEL' OR [CanonicalChargeType]='LINEHAUL'))
GO
ALTER TABLE [rating].[RateQuoteChargeLines] CHECK CONSTRAINT [CK_RQCL_CanonicalChargeType]
GO
ALTER TABLE [rating].[RateQuotes]  WITH CHECK ADD  CONSTRAINT [CK_RateQuotes_Mode] CHECK  (([Mode]='LCL' OR [Mode]='FCL' OR [Mode]='FTL' OR [Mode]='LTL'))
GO
ALTER TABLE [rating].[RateQuotes] CHECK CONSTRAINT [CK_RateQuotes_Mode]
GO
/****** Object:  StoredProcedure [rating].[usp_BumpCacheNamespace]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -----------------------------
   3) Bump namespace version
      - Increments VersionNo atomically
      - Creates row if missing
   ----------------------------- */
CREATE   PROCEDURE [rating].[usp_BumpCacheNamespace]
(
    @NamespaceKey NVARCHAR(200),
    @UpdatedBy    VARCHAR(450) = NULL,
    @Note         NVARCHAR(500) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Who VARCHAR(450) = COALESCE(@UpdatedBy, TRY_CONVERT(VARCHAR(450), SESSION_CONTEXT(N'UserId')), 'SYSTEM');

    BEGIN TRY
        BEGIN TRAN;

        -- Lock the row/key range
        IF EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @NamespaceKey)
        BEGIN
            UPDATE rating.CacheNamespaces
               SET VersionNo = VersionNo + 1,
                   UpdatedAt = SYSUTCDATETIME(),
                   UpdatedBy = @Who,
                   Note      = @Note
             WHERE NamespaceKey = @NamespaceKey;
        END
        ELSE
        BEGIN
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@NamespaceKey, 2, SYSUTCDATETIME(), @Who, @Note); -- first bump => version 2
        END

        SELECT NamespaceKey, VersionNo, UpdatedAt
        FROM rating.CacheNamespaces
        WHERE NamespaceKey = @NamespaceKey;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('usp_BumpCacheNamespace failed: %s', 16, 1, @Err);
    END CATCH
END
GO
/****** Object:  StoredProcedure [rating].[usp_BumpNamespacesForContract]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -----------------------------
   4) Helper: bump namespaces for a ContractId
      - Bumps BOTH candidates + rates namespaces
      - Bumps account-specific OR public depending on Contracts.AccountId
   ----------------------------- */
CREATE   PROCEDURE [rating].[usp_BumpNamespacesForContract]
(
    @ContractId BIGINT,
    @Note       NVARCHAR(500) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @AccountId BIGINT;
    DECLARE @Mode NVARCHAR(10);

    SELECT @AccountId = c.AccountId, @Mode = c.Mode
    FROM rating.Contracts c
    WHERE c.ContractId = @ContractId;

    IF @Mode IS NULL
    BEGIN
        RAISERROR('ContractId not found.', 16, 1);
        RETURN;
    END

    DECLARE @Who VARCHAR(450) = COALESCE(TRY_CONVERT(VARCHAR(450), SESSION_CONTEXT(N'UserId')), 'SYSTEM');
    DECLARE @Scope NVARCHAR(40) = CASE WHEN @AccountId IS NULL THEN N'PUBLIC' ELSE CONVERT(NVARCHAR(20), @AccountId) END;

    DECLARE @CandKey NVARCHAR(200) = CONCAT(N'CandidatesNS:', @Scope, N':', @Mode);
    DECLARE @RateKey NVARCHAR(200) = CONCAT(N'RatesNS:',      @Scope, N':', @Mode);

    DECLARE @noteInsert varchar(500) = COALESCE(@Note, N'Contract publish/status change')

    EXEC rating.usp_BumpCacheNamespace @NamespaceKey = @CandKey, @UpdatedBy = @Who, @Note = @noteInsert;
    EXEC rating.usp_BumpCacheNamespace @NamespaceKey = @RateKey, @UpdatedBy = @Who, @Note = @noteInsert;
END
GO
/****** Object:  StoredProcedure [rating].[usp_BumpNamespacesForContractVersion]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -----------------------------
   5) Helper: bump namespaces for a ContractVersionId
      - Resolves ContractId, then bumps
   ----------------------------- */
CREATE   PROCEDURE [rating].[usp_BumpNamespacesForContractVersion]
(
    @ContractVersionId BIGINT,
    @Note              NVARCHAR(500) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ContractId BIGINT;

    SELECT @ContractId = ContractId
    FROM rating.ContractVersions
    WHERE ContractVersionId = @ContractVersionId;

    IF @ContractId IS NULL
    BEGIN
        RAISERROR('ContractVersionId not found.', 16, 1);
        RETURN;
    END

    EXEC rating.usp_BumpNamespacesForContract @ContractId = @ContractId, @Note = @Note;
END
GO
/****** Object:  StoredProcedure [rating].[usp_GetCacheNamespaceVersion]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -----------------------------
   2) Get current namespace version
      - Creates row at VersionNo=1 if missing
   ----------------------------- */
CREATE   PROCEDURE [rating].[usp_GetCacheNamespaceVersion]
(
    @NamespaceKey NVARCHAR(200)
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Use SERIALIZABLE-like behavior for single-row upsert without race
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED;

    BEGIN TRY
        BEGIN TRAN;

        IF NOT EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @NamespaceKey)
        BEGIN
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@NamespaceKey, 1, SYSUTCDATETIME(), 'SYSTEM', 'Auto-created');
        END

        SELECT NamespaceKey, VersionNo, UpdatedAt
        FROM rating.CacheNamespaces
        WHERE NamespaceKey = @NamespaceKey;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('usp_GetCacheNamespaceVersion failed: %s', 16, 1, @Err);
    END CATCH
END
GO
/****** Object:  StoredProcedure [rating].[usp_GetCacheNamespaceVersionsForQuote]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   Single-call namespace fetch:
   Returns candidate + rate namespace versions for:
   - Account scope (CandidatesNS:{AccountId}:{Mode}, RatesNS:{AccountId}:{Mode})
   - Public scope  (CandidatesNS:PUBLIC:{Mode}, RatesNS:PUBLIC:{Mode})
   Auto-creates missing rows at VersionNo=1
   ============================================================ */

CREATE   PROCEDURE [rating].[usp_GetCacheNamespaceVersionsForQuote]
(
    @AccountId BIGINT,
    @Mode      NVARCHAR(10)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ModeU NVARCHAR(10) = UPPER(LTRIM(RTRIM(@Mode)));

    IF @ModeU NOT IN ('LTL','FTL','FCL','LCL')
    BEGIN
        RAISERROR('Invalid mode.', 16, 1);
        RETURN;
    END

    DECLARE @CandAcctKey NVARCHAR(200) = CONCAT(N'CandidatesNS:', CONVERT(NVARCHAR(20), @AccountId), N':', @ModeU);
    DECLARE @RateAcctKey NVARCHAR(200) = CONCAT(N'RatesNS:',      CONVERT(NVARCHAR(20), @AccountId), N':', @ModeU);
    DECLARE @CandPubKey  NVARCHAR(200) = CONCAT(N'CandidatesNS:PUBLIC:', @ModeU);
    DECLARE @RatePubKey  NVARCHAR(200) = CONCAT(N'RatesNS:PUBLIC:',      @ModeU);

    BEGIN TRY
        BEGIN TRAN;

        -- Create any missing rows at VersionNo=1 (UPDLOCK/HOLDLOCK prevents races)
        IF NOT EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @CandAcctKey)
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@CandAcctKey, 1, SYSUTCDATETIME(), 'SYSTEM', 'Auto-created');

        IF NOT EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @RateAcctKey)
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@RateAcctKey, 1, SYSUTCDATETIME(), 'SYSTEM', 'Auto-created');

        IF NOT EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @CandPubKey)
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@CandPubKey, 1, SYSUTCDATETIME(), 'SYSTEM', 'Auto-created');

        IF NOT EXISTS (SELECT 1 FROM rating.CacheNamespaces WITH (UPDLOCK, HOLDLOCK) WHERE NamespaceKey = @RatePubKey)
            INSERT INTO rating.CacheNamespaces (NamespaceKey, VersionNo, UpdatedAt, UpdatedBy, Note)
            VALUES (@RatePubKey, 1, SYSUTCDATETIME(), 'SYSTEM', 'Auto-created');

        -- Return all 4 versions in a single row
        SELECT
            @AccountId AS AccountId,
            @ModeU     AS Mode,

            ca.VersionNo AS CandidatesAccountVersion,
            ra.VersionNo AS RatesAccountVersion,
            cp.VersionNo AS CandidatesPublicVersion,
            rp.VersionNo AS RatesPublicVersion,

            ca.UpdatedAt AS CandidatesAccountUpdatedAt,
            ra.UpdatedAt AS RatesAccountUpdatedAt,
            cp.UpdatedAt AS CandidatesPublicUpdatedAt,
            rp.UpdatedAt AS RatesPublicUpdatedAt
        FROM rating.CacheNamespaces ca
        JOIN rating.CacheNamespaces ra ON ra.NamespaceKey = @RateAcctKey
        JOIN rating.CacheNamespaces cp ON cp.NamespaceKey = @CandPubKey
        JOIN rating.CacheNamespaces rp ON rp.NamespaceKey = @RatePubKey
        WHERE ca.NamespaceKey = @CandAcctKey;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('usp_GetCacheNamespaceVersionsForQuote failed: %s', 16, 1, @Err);
    END CATCH
END
GO
/****** Object:  StoredProcedure [rating].[usp_GetCandidateContractVersions]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [rating].[usp_GetCandidateContractVersions]
(
    @AccountId          BIGINT,
    @Mode               NVARCHAR(10),
    @RateDate           DATE,

    -- optional filters (pass NULL when not applicable)
    @ProviderIncludeCsv NVARCHAR(MAX) = NULL,  -- e.g. 'CARR01,CARR02' (ProviderCode)
    @ProviderExcludeCsv NVARCHAR(MAX) = NULL,  -- e.g. 'CARR99'
    @EquipmentType      NVARCHAR(30) = NULL,   -- for FTL
    @ContainerType      NVARCHAR(20) = NULL,   -- for FCL
    @OriginZoneId       INT = NULL,            -- for LTL
    @DestZoneId         INT = NULL,            -- for LTL
    @OriginRegionId     INT = NULL,            -- for FTL
    @DestRegionId       INT = NULL,            -- for FTL
    @OriginPort         NVARCHAR(10) = NULL,   -- for FCL/LCL
    @DestPort           NVARCHAR(10) = NULL    -- for FCL/LCL
)
AS
BEGIN
    SET NOCOUNT ON;

    /* Parse provider include/exclude lists */
    DECLARE @ProviderInclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);
    DECLARE @ProviderExclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);

    IF @ProviderIncludeCsv IS NOT NULL AND LEN(@ProviderIncludeCsv) > 0
        INSERT INTO @ProviderInclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderIncludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    IF @ProviderExcludeCsv IS NOT NULL AND LEN(@ProviderExcludeCsv) > 0
        INSERT INTO @ProviderExclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderExcludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    /* 1) Get published, effective versions for account + public */
    ;WITH ActiveVersions AS
    (
        SELECT
            cv.ContractVersionId,
            c.ContractId,
            c.ProviderId,
            p.ProviderCode,
            c.AccountId,
            c.Mode
        FROM rating.Contracts c
        JOIN rating.ContractVersions cv
            ON cv.ContractId = c.ContractId
           AND cv.PublishStatus = 'PUBLISHED'
           AND @RateDate BETWEEN cv.EffectiveStart AND cv.EffectiveEnd
        JOIN rating.Providers p
            ON p.ProviderId = c.ProviderId
        WHERE
            c.Status = 'ACTIVE'
            AND c.Mode = @Mode
            AND (c.AccountId = @AccountId OR c.AccountId IS NULL)
            AND NOT EXISTS (SELECT 1 FROM @ProviderExclude pe WHERE pe.ProviderCode = p.ProviderCode)
            AND (
                NOT EXISTS (SELECT 1 FROM @ProviderInclude)
                OR EXISTS (SELECT 1 FROM @ProviderInclude pi WHERE pi.ProviderCode = p.ProviderCode)
            )
    ),
    /* 2) Apply mode-specific "has rates for this lane" constraints to shrink candidates fast */
    LaneFiltered AS
    (
        SELECT av.*
        FROM ActiveVersions av
        WHERE
            (
                @Mode = 'LTL'
                AND EXISTS (
                    SELECT 1
                    FROM rating.LtlBaseRates r
                    WHERE r.ContractVersionId = av.ContractVersionId
                      AND r.OriginZoneId = @OriginZoneId
                      AND r.DestZoneId = @DestZoneId
                )
            )
            OR
            (
                @Mode = 'FTL'
                AND EXISTS (
                    SELECT 1
                    FROM rating.FtlLaneRates r
                    WHERE r.ContractVersionId = av.ContractVersionId
                      AND r.OriginRegionId = @OriginRegionId
                      AND r.DestRegionId = @DestRegionId
                      AND (@EquipmentType IS NULL OR r.EquipmentType = @EquipmentType)
                )
            )
            OR
            (
                @Mode = 'FCL'
                AND EXISTS (
                    SELECT 1
                    FROM rating.FclContainerRates r
                    WHERE r.ContractVersionId = av.ContractVersionId
                      AND r.OriginPort = @OriginPort
                      AND r.DestPort = @DestPort
                      AND (@ContainerType IS NULL OR r.ContainerType = @ContainerType)
                )
            )
            OR
            (
                @Mode = 'LCL'
                AND EXISTS (
                    SELECT 1
                    FROM rating.LclRates r
                    WHERE r.ContractVersionId = av.ContractVersionId
                      AND r.OriginPort = @OriginPort
                      AND r.DestPort = @DestPort
                )
            )
    )
    SELECT
        ContractVersionId,
        ContractId,
        ProviderId,
        ProviderCode,
        AccountId
    FROM LaneFiltered
    /* prefer account-specific before public */
    ORDER BY CASE WHEN AccountId = @AccountId THEN 0 ELSE 1 END, ProviderCode;
END
GO
/****** Object:  StoredProcedure [rating].[usp_GetCandidateContractVersions_ByLaneHash]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [rating].[usp_GetCandidateContractVersions_ByLaneHash]
(
    @AccountId          BIGINT,
    @Mode               NVARCHAR(10),
    @RateDate           DATE,

    @LaneKeyHash        BINARY(32),
    @LaneKeyString      NVARCHAR(300) = NULL,  -- optional (debug / collision check)

    @ProviderIncludeCsv NVARCHAR(MAX) = NULL,
    @ProviderExcludeCsv NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ProviderInclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);
    DECLARE @ProviderExclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);

    IF @ProviderIncludeCsv IS NOT NULL AND LEN(@ProviderIncludeCsv) > 0
        INSERT INTO @ProviderInclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderIncludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    IF @ProviderExcludeCsv IS NOT NULL AND LEN(@ProviderExcludeCsv) > 0
        INSERT INTO @ProviderExclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderExcludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    ;WITH ActivePublished AS
    (
        SELECT
            cv.ContractVersionId,
            c.ContractId,
            c.ProviderId,
            p.ProviderCode,
            c.AccountId
        FROM rating.Contracts c
        JOIN rating.ContractVersions cv
            ON cv.ContractId = c.ContractId
           AND cv.PublishStatus = 'PUBLISHED'
           AND @RateDate BETWEEN cv.EffectiveStart AND cv.EffectiveEnd
        JOIN rating.Providers p
            ON p.ProviderId = c.ProviderId
        WHERE
            c.Status = 'ACTIVE'
            AND c.Mode = @Mode
            AND (c.AccountId = @AccountId OR c.AccountId IS NULL)
            AND NOT EXISTS (SELECT 1 FROM @ProviderExclude pe WHERE pe.ProviderCode = p.ProviderCode)
            AND (
                NOT EXISTS (SELECT 1 FROM @ProviderInclude)
                OR EXISTS (SELECT 1 FROM @ProviderInclude pi WHERE pi.ProviderCode = p.ProviderCode)
            )
    )
    SELECT
        ap.ContractVersionId,
        ap.ContractId,
        ap.ProviderId,
        ap.ProviderCode,
        ap.AccountId
    FROM ActivePublished ap
    JOIN rating.ContractLaneEligibility cle
      ON cle.ContractVersionId = ap.ContractVersionId
     AND cle.Mode = @Mode
     AND cle.LaneKeyHash = @LaneKeyHash
    WHERE
      (@LaneKeyString IS NULL OR cle.LaneKeyString = @LaneKeyString)
    ORDER BY
      CASE WHEN ap.AccountId = @AccountId THEN 0 ELSE 1 END,
      ap.ProviderCode;
END
GO
/****** Object:  StoredProcedure [rating].[usp_GetCandidateContractVersions_Fast]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [rating].[usp_GetCandidateContractVersions_Fast]
(
    @AccountId          BIGINT,
    @Mode               NVARCHAR(10),
    @RateDate           DATE,

    @ProviderIncludeCsv NVARCHAR(MAX) = NULL,
    @ProviderExcludeCsv NVARCHAR(MAX) = NULL,

    @EquipmentType      NVARCHAR(30) = NULL,
    @ContainerType      NVARCHAR(20) = NULL,

    @OriginZoneId       INT = NULL,
    @DestZoneId         INT = NULL,
    @OriginRegionId     INT = NULL,
    @DestRegionId       INT = NULL,
    @OriginPort         NVARCHAR(10) = NULL,
    @DestPort           NVARCHAR(10) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ProviderInclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);
    DECLARE @ProviderExclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);

    IF @ProviderIncludeCsv IS NOT NULL AND LEN(@ProviderIncludeCsv) > 0
        INSERT INTO @ProviderInclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderIncludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    IF @ProviderExcludeCsv IS NOT NULL AND LEN(@ProviderExcludeCsv) > 0
        INSERT INTO @ProviderExclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderExcludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    ;WITH ActivePublished AS
    (
        SELECT
            cv.ContractVersionId,
            c.ContractId,
            c.ProviderId,
            p.ProviderCode,
            c.AccountId
        FROM rating.Contracts c
        JOIN rating.ContractVersions cv
            ON cv.ContractId = c.ContractId
           AND cv.PublishStatus = 'PUBLISHED'
           AND @RateDate BETWEEN cv.EffectiveStart AND cv.EffectiveEnd
        JOIN rating.Providers p
            ON p.ProviderId = c.ProviderId
        WHERE
            c.Status = 'ACTIVE'
            AND c.Mode = @Mode
            AND (c.AccountId = @AccountId OR c.AccountId IS NULL)
            AND NOT EXISTS (SELECT 1 FROM @ProviderExclude pe WHERE pe.ProviderCode = p.ProviderCode)
            AND (
                NOT EXISTS (SELECT 1 FROM @ProviderInclude)
                OR EXISTS (SELECT 1 FROM @ProviderInclude pi WHERE pi.ProviderCode = p.ProviderCode)
            )
    ),
    Eligible AS
    (
        SELECT ap.*
        FROM ActivePublished ap
        JOIN rating.ContractLaneEligibility cle
          ON cle.ContractVersionId = ap.ContractVersionId
         AND cle.Mode = @Mode
        WHERE
            (
                @Mode='LTL'
                AND cle.OriginZoneId = @OriginZoneId
                AND cle.DestZoneId   = @DestZoneId
            )
            OR
            (
                @Mode='FTL'
                AND cle.OriginRegionId = @OriginRegionId
                AND cle.DestRegionId   = @DestRegionId
                AND (@EquipmentType IS NULL OR cle.EquipmentType = @EquipmentType)
            )
            OR
            (
                @Mode='FCL'
                AND cle.OriginPort = @OriginPort
                AND cle.DestPort   = @DestPort
                AND (@ContainerType IS NULL OR cle.ContainerType = @ContainerType)
            )
            OR
            (
                @Mode='LCL'
                AND cle.OriginPort = @OriginPort
                AND cle.DestPort   = @DestPort
            )
    )
    SELECT ContractVersionId, ContractId, ProviderId, ProviderCode, AccountId
    FROM Eligible
    ORDER BY CASE WHEN AccountId = @AccountId THEN 0 ELSE 1 END, ProviderCode;
END
GO
/****** Object:  StoredProcedure [rating].[usp_GetCandidateContractVersions_HashFast]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [rating].[usp_GetCandidateContractVersions_HashFast]
(
    @AccountId          BIGINT,
    @Mode               NVARCHAR(10),
    @RateDate           DATE,

    @ProviderIncludeCsv NVARCHAR(MAX) = NULL,
    @ProviderExcludeCsv NVARCHAR(MAX) = NULL,

    -- mode-specific inputs
    @OriginZoneId       INT = NULL,
    @DestZoneId         INT = NULL,
    @OriginRegionId     INT = NULL,
    @DestRegionId       INT = NULL,
    @EquipmentType      NVARCHAR(30) = NULL,
    @OriginPort         NVARCHAR(10) = NULL,
    @DestPort           NVARCHAR(10) = NULL,
    @ContainerType      NVARCHAR(20) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    /* Parse provider include/exclude */
    DECLARE @ProviderInclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);
    DECLARE @ProviderExclude TABLE (ProviderCode NVARCHAR(50) PRIMARY KEY);

    IF @ProviderIncludeCsv IS NOT NULL AND LEN(@ProviderIncludeCsv) > 0
        INSERT INTO @ProviderInclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderIncludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    IF @ProviderExcludeCsv IS NOT NULL AND LEN(@ProviderExcludeCsv) > 0
        INSERT INTO @ProviderExclude(ProviderCode)
        SELECT LTRIM(RTRIM(value)) FROM STRING_SPLIT(@ProviderExcludeCsv, ',') WHERE LTRIM(RTRIM(value)) <> '';

    /* Build LaneKeyString + LaneKeyHash once */
    DECLARE @LaneKeyString NVARCHAR(300);
    DECLARE @LaneKeyHash BINARY(32);

    IF @Mode = 'LTL'
        SET @LaneKeyString = CONCAT('LTL|OZ=', @OriginZoneId, '|DZ=', @DestZoneId);
    ELSE IF @Mode = 'FTL'
        SET @LaneKeyString = CONCAT('FTL|OR=', @OriginRegionId, '|DR=', @DestRegionId, '|EQ=', @EquipmentType);
    ELSE IF @Mode = 'FCL'
        SET @LaneKeyString = CONCAT('FCL|OP=', @OriginPort, '|DP=', @DestPort, '|CT=', @ContainerType);
    ELSE IF @Mode = 'LCL'
        SET @LaneKeyString = CONCAT('LCL|OP=', @OriginPort, '|DP=', @DestPort);
    ELSE
    BEGIN
        RAISERROR('Invalid mode.', 16, 1);
        RETURN;
    END

    SET @LaneKeyHash = HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), @LaneKeyString));

    ;WITH ActivePublished AS
    (
        SELECT
            cv.ContractVersionId,
            c.ContractId,
            c.ProviderId,
            p.ProviderCode,
            c.AccountId
        FROM rating.Contracts c
        JOIN rating.ContractVersions cv
            ON cv.ContractId = c.ContractId
           AND cv.PublishStatus = 'PUBLISHED'
           AND @RateDate BETWEEN cv.EffectiveStart AND cv.EffectiveEnd
        JOIN rating.Providers p
            ON p.ProviderId = c.ProviderId
        WHERE
            c.Status = 'ACTIVE'
            AND c.Mode = @Mode
            AND (c.AccountId = @AccountId OR c.AccountId IS NULL)
            AND NOT EXISTS (SELECT 1 FROM @ProviderExclude pe WHERE pe.ProviderCode = p.ProviderCode)
            AND (
                NOT EXISTS (SELECT 1 FROM @ProviderInclude)
                OR EXISTS (SELECT 1 FROM @ProviderInclude pi WHERE pi.ProviderCode = p.ProviderCode)
            )
    ),
    Eligible AS
    (
        SELECT ap.*
        FROM ActivePublished ap
        JOIN rating.ContractLaneEligibility cle
          ON cle.ContractVersionId = ap.ContractVersionId
         AND cle.Mode = @Mode
         AND cle.LaneKeyHash = @LaneKeyHash
        /* Optional collision check (cheap, only on matched rows) */
        WHERE cle.LaneKeyString = @LaneKeyString
    )
    SELECT ContractVersionId, ContractId, ProviderId, ProviderCode, AccountId
    FROM Eligible
    ORDER BY CASE WHEN AccountId = @AccountId THEN 0 ELSE 1 END, ProviderCode;
END
GO
/****** Object:  StoredProcedure [rating].[usp_PublishContractVersion]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [rating].[usp_PublishContractVersion]
(
    @ContractVersionId BIGINT,
    @PublishedBy       NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

        /* Basic guardrails */
        IF NOT EXISTS (
            SELECT 1
            FROM rating.ContractVersions
            WHERE ContractVersionId = @ContractVersionId
              AND PublishStatus IN ('DRAFT','RETIRED')
        )
        BEGIN
            RAISERROR('ContractVersionId not found or not publishable.', 16, 1);
            ROLLBACK;
            RETURN;
        END

        /* Publish */
        UPDATE rating.ContractVersions
        SET PublishStatus = 'PUBLISHED',
            PublishedAt = SYSUTCDATETIME(),
            CreatedBy = COALESCE(@PublishedBy, CreatedBy)
        WHERE ContractVersionId = @ContractVersionId;

        /* Rebuild lane eligibility snapshot */
        EXEC rating.usp_RebuildContractLaneEligibility @ContractVersionId = @ContractVersionId;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('PublishContractVersion failed: %s', 16, 1, @Err);
    END CATCH
END
GO
/****** Object:  StoredProcedure [rating].[usp_PublishContractVersion_Hash]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* -----------------------------
   6) Integrate with Publish procedure
      - If you use rating.usp_PublishContractVersion_Hash (recommended),
        update it to bump namespaces after publish + eligibility rebuild.
   ----------------------------- */
CREATE   PROCEDURE [rating].[usp_PublishContractVersion_Hash]
(
    @ContractVersionId BIGINT,
    @PublishedBy       NVARCHAR(100) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Who VARCHAR(450) = COALESCE(TRY_CONVERT(VARCHAR(450), SESSION_CONTEXT(N'UserId')), 'SYSTEM');

    BEGIN TRY
        BEGIN TRAN;

        IF NOT EXISTS (
            SELECT 1
            FROM rating.ContractVersions
            WHERE ContractVersionId = @ContractVersionId
              AND PublishStatus IN ('DRAFT','RETIRED')
        )
        BEGIN
            RAISERROR('ContractVersionId not found or not publishable.', 16, 1);
            ROLLBACK;
            RETURN;
        END

        UPDATE rating.ContractVersions
        SET PublishStatus = 'PUBLISHED',
            PublishedAt = SYSUTCDATETIME(),
            CreatedBy = COALESCE(@PublishedBy, CreatedBy)
        WHERE ContractVersionId = @ContractVersionId;

        -- Rebuild lane eligibility + hash
        EXEC rating.usp_RebuildContractLaneEligibility_Hash @ContractVersionId = @ContractVersionId;

        COMMIT TRAN;

        -- Bump cache namespaces OUTSIDE the transaction (avoids holding locks longer than needed)
        EXEC rating.usp_BumpNamespacesForContractVersion
            @ContractVersionId = @ContractVersionId,
            @Note = N'ContractVersion published (lane eligibility rebuilt)';
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('usp_PublishContractVersion_Hash failed: %s', 16, 1, @Err);
    END CATCH
END
GO
/****** Object:  StoredProcedure [rating].[usp_RebuildContractLaneEligibility]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   Rebuild eligibility snapshot for a contract version
   ============================================================ */
CREATE   PROCEDURE [rating].[usp_RebuildContractLaneEligibility]
(
    @ContractVersionId BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Mode NVARCHAR(10);

    SELECT @Mode = c.Mode
    FROM rating.ContractVersions cv
    JOIN rating.Contracts c ON c.ContractId = cv.ContractId
    WHERE cv.ContractVersionId = @ContractVersionId;

    IF @Mode IS NULL
    BEGIN
        RAISERROR('ContractVersionId not found.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRAN;

        /* Clear existing snapshot for this version */
        DELETE FROM rating.ContractLaneEligibility
        WHERE ContractVersionId = @ContractVersionId;

        /* Insert snapshot rows based on mode rate tables */
        IF @Mode = 'LTL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginZoneId, DestZoneId,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'LTL',
                r.OriginZoneId,
                r.DestZoneId,
                NULL, NULL
            FROM rating.LtlBaseRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'FTL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginRegionId, DestRegionId, EquipmentType,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'FTL',
                r.OriginRegionId,
                r.DestRegionId,
                r.EquipmentType,
                NULL, NULL
            FROM rating.FtlLaneRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'FCL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginPort, DestPort, ContainerType,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'FCL',
                r.OriginPort,
                r.DestPort,
                r.ContainerType,
                NULL, NULL
            FROM rating.FclContainerRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'LCL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginPort, DestPort,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'LCL',
                r.OriginPort,
                r.DestPort,
                NULL, NULL
            FROM rating.LclRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;

        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('RebuildContractLaneEligibility failed: %s', 16, 1, @Err);
        RETURN;
    END CATCH
END
GO
/****** Object:  StoredProcedure [rating].[usp_RebuildContractLaneEligibility_Hash]    Script Date: 2/12/2026 7:09:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ============================================================
   Rebuild eligibility snapshot + LaneKeyHash for a contract version
   ============================================================ */
CREATE   PROCEDURE [rating].[usp_RebuildContractLaneEligibility_Hash]
(
    @ContractVersionId BIGINT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Mode NVARCHAR(10);

    SELECT @Mode = c.Mode
    FROM rating.ContractVersions cv
    JOIN rating.Contracts c ON c.ContractId = cv.ContractId
    WHERE cv.ContractVersionId = @ContractVersionId;

    IF @Mode IS NULL
    BEGIN
        RAISERROR('ContractVersionId not found.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRAN;

        DELETE FROM rating.ContractLaneEligibility
        WHERE ContractVersionId = @ContractVersionId;

        IF @Mode = 'LTL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginZoneId, DestZoneId,
                LaneKeyString, LaneKeyHash,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'LTL',
                r.OriginZoneId,
                r.DestZoneId,
                CONCAT('LTL|OZ=', r.OriginZoneId, '|DZ=', r.DestZoneId) AS LaneKeyString,
                HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), CONCAT('LTL|OZ=', r.OriginZoneId, '|DZ=', r.DestZoneId))) AS LaneKeyHash,
                NULL, NULL
            FROM rating.LtlBaseRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'FTL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginRegionId, DestRegionId, EquipmentType,
                LaneKeyString, LaneKeyHash,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'FTL',
                r.OriginRegionId,
                r.DestRegionId,
                r.EquipmentType,
                CONCAT('FTL|OR=', r.OriginRegionId, '|DR=', r.DestRegionId, '|EQ=', r.EquipmentType) AS LaneKeyString,
                HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX),
                    CONCAT('FTL|OR=', r.OriginRegionId, '|DR=', r.DestRegionId, '|EQ=', r.EquipmentType)
                )) AS LaneKeyHash,
                NULL, NULL
            FROM rating.FtlLaneRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'FCL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginPort, DestPort, ContainerType,
                LaneKeyString, LaneKeyHash,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'FCL',
                r.OriginPort,
                r.DestPort,
                r.ContainerType,
                CONCAT('FCL|OP=', r.OriginPort, '|DP=', r.DestPort, '|CT=', r.ContainerType) AS LaneKeyString,
                HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX),
                    CONCAT('FCL|OP=', r.OriginPort, '|DP=', r.DestPort, '|CT=', r.ContainerType)
                )) AS LaneKeyHash,
                NULL, NULL
            FROM rating.FclContainerRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END
        ELSE IF @Mode = 'LCL'
        BEGIN
            INSERT INTO rating.ContractLaneEligibility
            (
                ContractVersionId, Mode,
                OriginPort, DestPort,
                LaneKeyString, LaneKeyHash,
                AllowsMultiStop, MaxStops
            )
            SELECT DISTINCT
                r.ContractVersionId,
                'LCL',
                r.OriginPort,
                r.DestPort,
                CONCAT('LCL|OP=', r.OriginPort, '|DP=', r.DestPort) AS LaneKeyString,
                HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX),
                    CONCAT('LCL|OP=', r.OriginPort, '|DP=', r.DestPort)
                )) AS LaneKeyHash,
                NULL, NULL
            FROM rating.LclRates r
            WHERE r.ContractVersionId = @ContractVersionId;
        END

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        DECLARE @Err NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR('RebuildContractLaneEligibility_Hash failed: %s', 16, 1, @Err);
        RETURN;
    END CATCH
END
GO
USE [master]
GO
